
 {% extends "a_frame.html" %}

	     {% block title %} Index {% endblock title %}
{% block head %} Dashboard {% endblock head %}
	      {% block body %}


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->

<div class="container-widget">
    

  <!-- Start Top Stats -->
  <div class="col-md-12">
  <ul class="topstats clearfix">
    <li class="arrow"></li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-dot-circle-o"></i> Total Admins</span>
      <h3>3</h3>
     
    </li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-calendar-o"></i> Total Contact Requests </span>
      <h3>6</h3>
      
    </li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-shopping-cart"></i> Total Service Requests</span>
      <h3 class="color-up">696</h3>
      
    </li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-users"></i> Total Visitors  </span>
      <h3>960</h3>
    </li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-eye"></i> Page View</span>
      <h3 class="color-up">46.230</h3>
    </li>
    <li class="col-xs-6 col-lg-2">
      <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
      <h3 class="color-down">2:10<small>min</small></h3>
    </li>


  

  </ul>

  </div>
  <!-- End Top Stats -->


        <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
{% endblock %}