


        {% extends "frame.html" %}

        {% block title %} Alumni Hub {% endblock title %}

         {% block body %}

  <div id="page-content">
  <div class="container">
  <div class="row">
		<h1>Alumni Hub</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		
		<ul class="nav nav-tabs course-detail-tabs">
			<li class="active">
				<a href="#tab-a" data-toggle="tab">Alumni Hub</a>
			</li>
			<li>
				<a href="#tab-b" data-toggle="tab">FAQ</a>
			</li>
		</ul>
		
		<div class="tab-content course-tab-content">
			<div class="tab-pane fade in active" id="tab-a">
				<div class="col-md-8 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			<aside><img src="static/assets/img/blog-01.jpg" class="" alt="" style="float:right"></aside>
			</div><!--  Tab A ending -->
			<div class="tab-pane fade" id="tab-b">
				<div class="col-md-8 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			<aside><img src="static/assets/img/blog-01.jpg" class="" alt=""></aside>
			</div><!--  Tab B ending -->
		</div>	

		</div>
		</div>
		</div>

   {%endblock body%}