 

        {% extends "frame.html" %}

        {% block title %} Alumni Services {% endblock title %}

         {% block body %}

  <div id="page-content">
  <div class="container">
  <div class="row">
		<h1>Alumni Services</h1>
		<ul class="nav nav-tabs course-detail-tabs">
			<li class="active">
				<a href="#tab-a" data-toggle="tab">Find a Friend</a>
			</li>
			<li>
				<a href="#tab-b" data-toggle="tab">Career Service</a>
			</li>
			<li>
				<a href="#tab-c" data-toggle="tab">Replacement Degree Certificates</a>
			</li>
			<li>
				<a href="#tab-d" data-toggle="tab">Shop and Support</a>
			</li>
			<li>
				<a href="#tab-e" data-toggle="tab">Clubs</a>
			</li>
			<li>
				<a href="#tab-f" data-toggle="tab">Email Subscription</a>
			</li>
		</ul>

		<div class="tab-content course-tab-content">
			<div class="tab-pane fade in active" id="tab-a">
				<section >
				<div class="col-md-8 col-sm-6">
				<h1>Find a Friend</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				</section>
			<aside><img src="static/assets/img/blog-01.jpg" class="" alt="" style="float:right"></aside>
			</div><!--  Tab A ending -->

			<div class="tab-pane fade" id="tab-b">
				<section>
				<div class="col-md-8 col-sm-6">
				<h1>Career Service</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				</section>
			</div> <!-- Tab B ending -->

			<div class="tab-pane fade" id="tab-c">
			<section>
			<div class="col-md-8 col-sm-6">
				<h1>Replacement Degree Certificates</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>
			</div><!--  Tab C ending -->

			<div class="tab-pane fade" id="tab-d">
			<section >
				<div class="col-md-8 col-sm-6">
					<h1>Shop and Support</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>
			<aside><img src="static/assets/img/blog-01.jpg" class="" alt="" style="float:right"></aside>
			</div><!--  Tab D ending -->

			<div class="tab-pane fade" id="tab-e">
			<section>
			<div class="col-md-8 col-sm-6">
				<h1>Clubs</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>
			</div><!--  Tab E ending -->

			<div class="tab-pane fade" id="tab-f">
			<section>
			<div class="col-md-8 col-sm-6">
				<h1>Email Subscription</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>
			</div><!--  Tab F ending -->

		</div>
		</div>
		</div>
		</div>
	</section>
</article>

    {%endblock body%}

