
	     {% extends "frame.html" %}

	     {% block title %} Career Mentoring {% endblock title %}

	      {% block body %}

	         <div id="page-content">
	   <div class="container">
	      <div class="row">
	      
	      <div class="col-md-12">
	      <h1>Career Mentoring</h1>
	      
	      <blockquote>
<p class="quote"><img class="photo" style="margin:3px;float:right;" src="static/assets/img/blog-01.jpg" alt="" width="110" height="77">I think the Programme is an excellent idea and its implementation was long overdue."<br>
Bruce Craig, LLB (Hons) (1987), University of Aberdeen<br>
Partner, Mackinnons</p>
</blockquote>


<p>In 2011, The University of Aberdeen's Alumni Relations team and Careers Service jointly established a Career Mentoring Programme. The Programme links undergraduate and taught postgraduate students with University of Aberdeen alumni and friends who are able to share their professional experience and expertise.

Since then, over 100 University of Aberdeen alumni and friends have been matched with current students. The Programme runs for a 6-month period during the academic year between November and April and is open to graduates based in the UK.

For more information and details about how to register to become a mentor please click here.</p>
	      </div>
	      </div>
	      </div>
	      </div>
	      {%endblock body%}