
        {% extends "frame.html" %}

        {% block title %} Events {% endblock title %}

         {% block body %}
         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Current and Upcoming Events</h1>
         <div class="events">
                                 <article class="event nearest">
                                    <figure class="date">
                                       <div class="month">jan</div>
                                       <div class="day">18</div>
                                    </figure>
                                    <aside>
                                       <header> <a href="event-detail.html">Conservatory Exhibit: The garden of india a country and culture revealed</a> </header>
                                       <div class="additional-info">Matthaei Botanical Gardens</div>
                                    </aside>
                                 </article>
                                 <article class="event nearest">
                                    <figure class="date">
                                       <div class="month">feb</div>
                                       <div class="day">18</div>
                                    </figure>
                                    <aside>
                                       <header> <a href="event-detail.html">February Half-Term Activities: Big Stars and Little Secrets</a> </header>
                                       <div class="additional-info">Matthaei Botanical Gardens</div>
                                    </aside>
                                 </article>
                                 <article class="event nearest">
                                    <figure class="date">
                                       <div class="month">mar</div>
                                       <div class="day">18</div>
                                    </figure>
                                    <aside>
                                       <header> <a href="event-detail.html">The Orchestra of the Age of Enlightenment perform with Music</a> </header>
                                       <div class="additional-info">Matthaei Botanical Gardens</div>
                                    </aside>
                                 </article>
         </div>
      </div>
      </div></div></div>




 {%endblock body%}