<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="">
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <!-- Developed by: Paul Santosh, Sharoon Babu, Austin PB  -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.css" type="text/css">
      <link rel="stylesheet" href="static/assets/css/selectize.css" type="text/css">
      <link rel="stylesheet" href="static/assets/css/owl.carousel.css" type="text/css">
      <link rel="stylesheet" href="static/assets/css/vanillabox/vanillabox.css" type="text/css">
      <link rel="stylesheet" href="static/assets/css/style.css" type="text/css">
      <title>{%block title%} {%endblock title%}</title>
   </head>
   <body class="page-sub-page page-blog-listing">
      <div class="wrapper">
         <div class="navigation-wrapper">
            <div class="secondary-navigation-wrapper">
               <div class="container">
                  <div class="navigation-contact pull-left">Email Us: <span class="opacity-70">info@karunya.edu</span></div>
                  <ul class="secondary-navigation list-unstyled pull-right">
                     <li><a href="http://admissions.karunya.edu/">Prospective Students</a></li>
                    
                     <li><a href="http://karunya.edu/academics/schools.html">Faculty & Staff</a></li>
                     <li><a href="#">Admin Login</a></li>
                  </ul>
               </div>
            </div>
            <div class="primary-navigation-wrapper"  style="z-index:99999">
               <header class="navbar" id="top" role="banner">
                  <div class="container">
                     <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <!-- <div class="navbar-brand nav" id="brand"><a href="index.html"><img src="static/assets/img/logo-al.png" alt="brand"></a></div> -->
                         <div class="background"><img src="static/assets/img/logo-al.png" height="60px" style="padding-bottom:5px" class="" alt=""></div>
                     </div>
                     <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                           <li class="active">
                              <a href="#" >Home</a>
                          
                           </li>
                           <li>
                              <a href="stay-in-touch" class=" has-child ">Stay in Touch</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="general-council">General Council</a></li>
                                 <li><a href="groups-and-networks">Groups and Networks</a></li>
                                 <li><a href="voice-magazine">Voice magazine</a></li>
                                 <li><a href="voice">Converge</a></li>
                                 
                                 <li><a href="meet-the-team">Meet the team</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="get-involved" class="has-child ">Get Involved</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="ambassadors">Ambassadors</a></li>
                                 <li><a href="career-mentoring">Career Menotoring</a></li>
                                 <li><a href="volunteering  ">Volunteering</a></li>
                                 <li><a href="reunions">Reunions</a></li>
                                 <li><a href="alumni-profiles">Alumni Profiles</a></li>
                                 <li><a href="parent-and-family-programme">Parent and Family Programme</a></li>
                                 <li><a href="giving">Giving</a></li>
                              </ul>
                           </li>
                             <li>
                              <a href="benefits-and-services" class="has-child ">Benefits and Services</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="campus-benefits">Campus Benefits</a></li>
                                 <li><a href="alumni-services">Alumni Services</a></li>
                                 
                                 <li><a href="alumni-hub">Alumni Hub</a></li>
                           
                              </ul>
                           </li>
                           <li>
                              <a href="#" class="has-child no-link">Events & Reunions</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="events">Events</a></li>
                                 <li><a href="reunions">Reunions</a></li>
                                 <li><a href="exhibitions">Exhibition</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="our-alumni" class="has-child ">Our Alumni</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="alumni-profiles">Alumni Profiles</a></li>
                                 <li><a href="notable-alumni">Notable Alumni</a></li>
                                
                                 <li><a href="honor-graduates">Honorary Graduates</a></li>
                                 
                              </ul>
                           </li>
                    <!-- <li>
                              <a href="#" class="has-child no-link">USA Alumni</a>
                              <ul class="list-unstyled child-navigation">
                                 <li><a href="full-width.html">Ambassadors in USA</a></li>
                                 <li><a href="left-sidebar.html">Chapters in USA</a></li>
                             
                                 
                              </ul>
                           </li> -->
                        </ul>
                     </nav>
                  </div>
               </header>
            </div>
            <div class="background"><img src="static/assets/img/background-city.png" alt="background"></div>
         </div>

         <div class="container">
            <ol class="breadcrumb">

              
            </ol>
            <div class="row">
          
         </div>
         </div>
         
     
     {%block body%}{%endblock body%}

         <footer id="page-footer">
            <section id="footer-top">
               <div class="container">
                  <div class="footer-inner">
                     <div class="footer-social">
                        <figure>Follow us:</figure>
                        <div class="icons"><a href="https://twitter.com/karunyauniv"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/karunyauniversity/?fref=ts"><i class="fa fa-facebook"></i></a><a href="https://www.youtube.com/user/karunyauniversity"><i class="fa fa-youtube-play"></i></a></div>
                     </div>
                    
                  </div>
               </div>
            </section>
            <section id="footer-content">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-6">
                        <img src="static/assets/img/logo-al.png"  style="float:left; padding-left: 10px;"  width="300px">
                     </div>
                     <div class="col-md-3 col-sm-4">
                        <aside>
                           <header>
                              <h4>Contact Us</h4>
                           </header>
                           <address><strong>Karunya University</strong><br><span>Karunya Nagar</span><br><br><span>Coimbatore 641114</span><br><abbr title="Telephone">Telephone:</abbr> 0422 - 2614300<br><abbr title="Email">Email:</abbr> <a href="#">info@karunya.edu</a></address>
                        </aside>
                     </div>
                     <div class="col-md-2 col-sm-4">
                        <aside>
                           <header>
                              <h4>Important Links</h4>
                           </header>
                           <ul class="list-links">
                              <li><a href="http://admissions.karunya.edu/">Future Students</a></li>
                              <li><a href="alumni-profiles">Alumni</a></li>
                              <li><a href="giving">Give a Donation</a></li>
                              <li><a href="http://karunya.edu/academics/schools.html">Professors</a></li>
                              <li><a href="http://karunya.edu/library/index.html">Libary & Health</a></li>
                              <li><a href="http://karunya.edu/research/index.html">Research</a></li>
                           </ul>
                        </aside>
                     </div>
                     <!-- /.col-md-3 -->
                     <div class="col-md-3 col-sm-4">
                        <aside>
                           <header>
                              <h4>About Karunya</h4>
                           </header>
                           <p>Karunya University was founded with the noble vision to raise professionals and leaders of high academic calibre and unblemished character, nurtured with a strong motivation and commitment to serve humanity. 
                           </p>
                          
                        </aside>
                     </div>
                     <!-- /.col-md-3 -->
                  </div>
                  <!-- /.row -->
               </div>
               <!-- /.container -->
               <div class="background"><img src="static/assets/img/background-city.png" class="" alt=""></div>
            </section>
            <!-- /#footer-content -->
            <section id="footer-bottom">
               <div class="container">
                  <div class="footer-inner">
                     <div class="copyright">© Student Alumni Relationship Cell (SARC). All rights reserved.</div>
                     <!-- /.copyright -->
                  </div>
                  <!-- /.footer-inner -->
               </div>
               <!-- /.container -->
            </section>
            <!-- /#footer-bottom -->
         </footer>

         <!-- end Footer -->
      </div>
      <!-- end Wrapper -->
      <script type="text/javascript" src="static/assets/js/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="static/assets/js/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="static/assets/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="static/assets/js/selectize.min.js"></script>
      <!-- Developed by Sharoon Babu, Paul Santosh , Austin PB-->
      <script type="text/javascript" src="static/assets/js/owl.carousel.min.js"></script>
      <script type="text/javascript" src="static/assets/js/jquery.validate.min.js"></script>
      <script type="text/javascript" src="static/assets/js/jquery.placeholder.js"></script>
      <script type="text/javascript" src="static/assets/js/jQuery.equalHeights.js"></script>
      <script type="text/javascript" src="static/assets/js/icheck.min.js"></script>
      <script type="text/javascript" src="static/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
      <script type="text/javascript" src="static/assets/js/retina-1.1.0.min.js"></script>
      <script type="text/javascript" src="static/assets/js/custom.js"></script>

   </body>
 
</html>