{% extends "frame.html" %}
{% block title %} Giving {% endblock title %}
{% block body %}
<div id = "page-content">
   <div class="container">
     
      <h1>Giving</h1>
      <article class="blog-listing-post">
      <div style="min-height: 390px;" class="col-md-4 col-sm-6">
   <article class="blog-listing-post">
      <div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div>
      <aside>
         <header>
            <a href="blog-detail.html">
               <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
            </a>
         </header>
         <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
         </div>
         <a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> 
      </aside>
   </article>
</div>
<div style="min-height: 390px;" class="col-md-4 col-sm-6">
   <article class="blog-listing-post">
      <div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div>
      <aside>
         <header>
            <a href="blog-detail.html">
               <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
            </a>
         </header>
         <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
         </div>
         <a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> 
      </aside>
   </article>
</div>
<div style="min-height: 390px;" class="col-md-4 col-sm-6">
   <article class="blog-listing-post">
      <div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg"  width="100%"></a></div>
      <aside>
         <header>
            <a href="blog-detail.html">
               <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
            </a>
         </header>
         <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
         </div>
         <a href="blog-detail.html" class="read-more stick-to-bottom">Read More</a> 
      </aside>
   </article>
</div>


 <div class="col-md-12">
         <article class="blog-listing-post">
            
               <a href="">
                  <h3>Donate</h3>
               </a>
           
            <div class="description">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <a href="blog-detail.html" class="read-more stick-to-bottom">Read More</a>
         </article>
      </div>
<!-- <hr> -->
<!-- <a href=""></a> -->
</div>
</div>
<!-- </div> -->
{%endblock body%}
