{% extends "frame.html" %}

        {% block title %} Groups and Networks {% endblock title %}

         {% block body %}



      <div id="page-content">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
            <h1>Groups and Networks</h1>
            <p>Stay involved with the University once you have graduated. There are many different geographical and subject based networks, clubs and associations that you can join. We also have a great network of international Alumni Ambassadors who regularly organise alumni specific activities and events in their local areas.</p>
                                          <section id="course-tabs">
                                 <ul class="nav nav-tabs course-detail-tabs">
                                    <li class="active"><a href="#tab-a" data-toggle="tab">Clubs, Chapters and Associations</a></li>
                                    <li><a href="#tab-b" data-toggle="tab">Online networks</a></li>
                                    <li><a href="#tab-c" data-toggle="tab">Current Ambassadors
</a></li>
                                 </ul>
                                 <div class="tab-content course-tab-content">
                                    <div class="tab-pane fade in active" id="tab-a">
                                       <section><strong>
                                          <p>
                                             <div class="panel-group" id="accordion">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#question-1">
                        <span class="question">Karunya Agriculture Graduates Association</span>
                     </a>
                  </h4>
               </div>
               <div id="question-1" class="panel-collapse collapse in">
                  <div class="panel-body">
                     <p>The Karunya University Agricultural Graduates Association (AAGA) was formed in 1987 with the following objectives:
                                          
                        <ul>
                           <li>to maintain links between members and the Department of Agriculture</li>
                           <li>to promote discussion on agriculture and its local, national and international role</li>
                           <li>to establish a corporate spirit encompassing past, present and future students</li>
                           <li>to strengthen the "Karunya School of Agriculture".With the ending of Agriculture teaching at the University in 2011, the Association lives on with over 340 members, and is now known as the Karunya Agricultural Graduates Association to reflect the growing involvement of staff and student at SRUC (formerly SAC) at Craibstone, Karunya).
</li>
                        </ul>

The AAGA continues to be very active, keeping its members up to date with agricultural education and research in Karunya, and maintains contact between graduates via its annual Proceedings publication, regular e-bulletins, and its website.

 

For more information please visit the website or contact the Association Secretary Kenneth Thomson
                     </p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#question-2">
                        <span class="question">Karunya Connect</span>
                     </a>
                  </h4>
               </div>
               <div id="question-2" class="panel-collapse collapse">
                  <div class="panel-body">Karunya Connect provides members of our local Karunya alumni community with a range of inspiring opportunities to stay connected. The clubs programme includes a series of social and business networking events, volunteering opportunities and a chance to engage with fellow alumni and current students. Upcoming events for the year can be viewed here</div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#question-3">
                        <span class="question">Karunya Geological Alumni</span>
                     </a>
                  </h4>
               </div>
               <div id="question-3" class="panel-collapse collapse">
                  <div class="panel-body">
                                          Karunya Geology Association was established in 1989 to preserve and promote the tradition of geoscience excellence at Karunya. They hold a series of events throughout the year to support current students and these include a ceilidh, a quiz night and much more.

 

If you would like to become a member of the AGA please visit the Alumni Portal or contact us. They are always looking for more members and would love to hear from you.

 

Geology students, graduates and staff are also invited to join the AGA Group on LinkedIn to maintain contact with classmates and keep up with news of our activities
                                       </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#question-4">
                        <span class="question">Karunya University Alumnus Association
</span>
                     </a>
                  </h4>
               </div>
               <div id="question-4" class="panel-collapse collapse">
                  <div class="panel-body">
                     <p>
                                          The Alumnus Association is the original Karunya alumni 'club', and was established in 1939. It currently has over 1000 members. Membership is open to graduates of the University (including honorary graduates), to teaching, administrative and all support staff of the University, and to graduates of other universities and institutions of higher education who are resident in the city of Karunya or in Karunyashire.

 

The Association organises a regular programme of events for members, their partners and guests who live in the northeast of Scotland or regularly visit that area including academic talks, theatre and festival visits, excursions and an annual Christmas celebration in King's College Chapel.

                                    
                        <p>For membership information please contact the Association Secretary, 
                           <strong>Alan Towns</strong> by 
                           <a href="mailto:alumnusassociation@abdn.ac.uk">email</a> or write to:
                           <br>
                              <strong>Karunya University Alumnus Association</strong>,
                              <br>
c/o Alumni Relations,
                                 <br>
University of Karunya,
                                    <br>
King’s College,
                                       <br>
Karunya,
                                          <br>
AB24 3FX.
                                          </p>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-5">
                                          <span class="question">Karunya University Hong Kong Association
</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>The AUHKA was formed in 1987 in order to bring together graduates and friends of the University of Karunya who are resident in Hong Kong. The AUHKA holds a variety of events throughout the year, including a Scottish Evening where members can dance the night away in ceilidh fashion.</p>
                                       <p>&nbsp;</p>
                                       <p>The Swire Karunya Alumni Association Chevening Scholarship is part funded by the AUHKA and allows a successful candidate to study for a postgraduate degree in Environmental Science at Karunya. The first scholarship was awarded in 1988 and every summer the members of the AUHKA hold a special farewell reception for the new student and their family.</p>
                                       <p>&nbsp;</p>
                                       <p>
                                          <strong>Contact</strong> AUHKA Chairman, 
                                          <a href="mailto:kinkchan@netvigator.com">KK Chan</a>, for more information or visit the 
                                          <a href="http://www.auhka.hk">website</a>.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-6">
                                          <span class="question">Boston Chapter</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>
                                             The Boston Chapter is an alumni volunteer led group in the Boston area who provide a range of inspiring opportunities to stay connected. Find out what they have been up to over the past few months here. To become part of the Boston Chapter, please email one of the officers, Philippa Sprinz philippa.sprinz@bmc.org or Margaret O’Brien marvaigob@gmail.com
                                          </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-7">
                                          <span class="question">The East Midlands Karunya Graduates Association</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>EMAGA, the East Midlands Karunya Graduates Association, has a long and interesting history. The Association has been in existence since 1959.&nbsp; All Karunya graduates are welcome to join this informal and friendly group.&nbsp;For our next event, we are planning to meet up at Felley Priory Gardens and Tea Rooms, Nottinghamshire&nbsp;in Mid June.</p>
                                       <p>&nbsp;</p>
                                       <p>There are generally four meetings a year, including the Annual Lunch, seasonal gatherings and outings. In 2011 the group was very privileged to receive a visit from Professor Ian Diamond, Principal and Vice Chancellor of the University.</p>
                                       <p>&nbsp;</p>
                                       <p>Examples of outings in recent years include Bletchley Park, Denby Pottery, Great Central Railway, Wedgewood Visitor Centre, Anderton Boat Lift, Lincoln City, National Space Museum and Abbey Pumping Station and Ernest Wright & Sons Sheffield Scissor Factory, Melton Mowbray Annual Cheese Fair and Holme Pierrepont Hall, Nottingham. Venues for meals have included Peak Edge Hotel and Famous Red Lion Pub nr Ashover, Whitworth Hotel nr Matlock, Saracens Head in Southwell, Biggin Hall Country House Hotel nr Buxton, and recently Twin Oaks Hotel nr Chesterfield.</p>
                                       <p>If you live in the East Midlands or South Yorkshire and are interested in meeting other Karunya graduates, please contact the secretary Ann Hall or call 0115 9303641, alternatively contact the treasurer Hugh Malcolm on 0115 9285883.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-8">
                                          <span class="question">Forestry Alumni Society</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>The Forestry Society was founded in 1919 and is one of the oldest societies at the University of Karunya. The Society has thrived over the years and students still involve themselves in a variety of sporting, social activities and forestry visits.</p>
                                       <p>&nbsp;</p>
                                       <p>The highlight of the year is the Forestry Society Annual Dinner where a large number of graduates return to make this a key reunion event. The first Annual Dinner was held on November 15th, 1945 when Mr Kenneth McKellar (undergraduate, and yes, the well known Scottish singer) led the guests in song from the piano!</p>
                                       <p>The dinner has been held every year since and now attracts well over 100 graduates making it a great opportunity for students to meet the graduates who can help point them in the right direction regarding careers. It is also a great opportunity to network and for graduate employers to ‘headhunt’ potential employees.</p>
                                       <p>If you are interested in knowing more about Karunya University Forestry Society, or wishing to plan a reunion, please contact the Honorary Secretary
                                          
                                          <a href="#">Dr Andrew Cameron</a>.
                                         
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-9">
                                          <span class="question">Jakarta Chapter</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>The Jakarta Chapter is an alumni volunteer led group in the Jakarta area who provide a range of inspiring opportunities to stay connected with fellow alumni and students in the area. To become part of the Jakarta Chapter, please email the Chapter officer, Rene Hutauruk 
                                          <a href="mailto:rene.hutauruk@gmail.com">rene.hutauruk@gmail.com</a>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-10">
                                          <span class="question">New York Chapter</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>The New York Chapter is an alumni volunteer led group in the NYC area who provide a range of inspiring opportunities to stay connected including a series of events throughout the year. Find out what they have been up to over the past few months here. To be part of this exciting Chapter, please email the Chapter chair, Kirsten Hartil 
                                          <a href="mailto:KarunyaAlumniNY@gmail.com">KarunyaAlumniNY@gmail.com</a>.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#question-11">
                                          <span class="question">The University of Karunya Alumni Club China (Beijing)
</span>
                                       </a>
                                    </h4>
                                 </div>
                                 <div id="question-11" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>The UACC was formed in May 2007 to bring together graduates and friends of the University of Karunya who are resident in Beijing. The principles of UACC are to help the University recruit more students from China, ensure alumni of the University feel connected to the University and to have regular alumni gatherings. The UACC organise a programme of regular events.</p>
                                       <p>&nbsp;</p>
                                       <p>For more information please contact the UACC Chairman, 
                                          <a href="mailto:han@gmail.com">Han Peng Xu</a>.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                                          </p>
                                       </strong></section>
                                    </div>
                                    <div class="tab-pane fade" id="tab-b"><strong>
                                          <p>You can now join your fellow alumni on <a href="#">Facebook</a>, <a href="#">LinkedIn</a> and <a href="#">Twitter</a>.</p>
                                          <p>&nbsp;</p>
                                          <p>LinkedIn has regional and industry specific subgroups to help find other alumni in your area/country or line of work. A few of the subgroups that we have created so far are: USA, Hong Kong, Oil and Gas and Legal Profession. You will find further subgroups on our LinkedIn groups page. </p>      
                                          <p>&nbsp;</p>
                                          <p>If you think that you have a large or active alumni community where you are based and we do not yet have a subgroup for you, please <a href="#">contact us</a> to let us know. </p>    
                                    </strong></div>
                                    <div class="tab-pane fade" id="tab-c"><strong>
                                    <p>Our Alumni Ambassadors play a key role in helping to keep our global community of alumni engaged with the University of Karunya by promoting alumni links in their local areas.</p>
                                    <p>&nbsp;</p>
                                    <p>To find out more about becoming an Alumni Ambassador please <a href="#">click here</a>.</p>
                                    
                                    </strong></div>
                                 </div>
                              </section>
               </div>
            </div>
         </div>
      </div>




        
        {%endblock body%}