
	     {% extends "frame.html" %}

	     {% block title %} Notable Alumni {% endblock title %}

	      {% block body %}

	   <div id="page-content">
	   <div class="container">
	      <div class="row">
	     
	         <div class="col-md-12">
	 <h1> Notable Alumni</h1>
	            
	            
	            <br>
	            <section id="course-tabs">
	   <ul class="nav nav-tabs course-detail-tabs">
	      <li class="active"><a href="#tab-a" data-toggle="tab">Alumni</a></li>
	      <li class=""><a href="#tab-b" data-toggle="tab">Academia</a></li>
	      <li class=""><a href="#tab-c" data-toggle="tab">Arts, films and Media</a></li>
	      <li class=""><a href="#tab-d" data-toggle="tab">Business</a></li>
	      <li class=""><a href="#tab-e" data-toggle="tab">Law</a></li>
	      <li class=""><a href="#tab-f" data-toggle="tab">Politics</a></li>
	      <li class=""><a href="#tab-g" data-toggle="tab">Science and Medical Research</a></li>
	   </ul>
	   <div class="tab-content course-tab-content">
	      <div class="tab-pane fade active in" id="tab-a">
	         <section>
	               
	               Many of our alumni have gone on to make major contributions to science, the arts, medical research, business, politics and much more. Below you will find just some of our most notable alumni arranged by area of expertise.
	            <p>&nbsp;</p>

	            <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div><div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div><div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>



	         </section>
	      </div>
	      <div class="tab-pane fade" id="tab-b">

	      <h1>Academia</h1>
	  
	      <p>University of Aberdeen graduates have pursued successful careers within academia.</p>

	<ul>
	<li>Professor Sir Colin Campbell, Vice-Chancellor, University of Nottingham (1988 - 2008)</li>
	<li>Professor Robert J Cormack, Principal, UHI Millenium Institute (2001 - 2009)</li>
	<li>Professor Pamela Gillies, Principal and Vice Chancellor, Glasgow Caledonian University</li>
	<li>Lord Sutherland of Houndwood Kt, Vice Chancellor, University of Edinburgh (1994 - 2002)</li>

	</ul>


	      </div>
	      <div class="tab-pane fade" id="tab-c">
	         
	<h1>Arts, Film and Media</h1>
	<p>Many of our alumni are now working across the Arts, Film and Media.</p>
	<ul>
	<li>Ian Birrell, Journalist and former Deputy Editor, The Independent</li>
	<li>Sheena Blackhall, Poet, novelist, traditional ballad singer and storyteller</li>
	<li>Gordon Cameron, Technical Supervisor, Disney Pixar</li>
	<li>Nicky Campbell, Journalist and Broadcaster, BBC</li>
	<li>Hamish Glen, Artistic Director, Belgrade Theatre, Coventry</li>
	<li>Iain Glen, Actor</li>
	<li>Paul Harris, Author, Publisher and Journalist</li>
	<li>Ken Hay, CEO, Centre for the Moving Image</li>
	<li>Tony Hilton, Financial Editor, Evening Standard</li>
	<li>Richard Klein, Former Controller of BBC4</li>
	<li>Nigel Lawrence, Editor, Shipping Today & Yesterday</li>
	<li>Faith Liddell, Director, Festivals Edinburgh</li>
	<li>Magnus Linklater, Journalist</li>
	<li>Laura Main, Actress</li>
	<li>Paul Murton, Broadcaster and Director, Timeline Films</li>
	<li>Hamish Mykura, Executive Vice President & Head of International Content for National Geographic Channels International (NGCI)</li>
	<li>James Naughtie, Broadcaster and Presenter, The Today Programme, BBC Radio 4</li>
	<li>Paddy O'Connell, Broadcaster, BBC</li>
	<li>Glen Oglaza, Special Correspondent, Sky News</li>
	<li>Rhod Sharp, Broadcaster, BBC</li>
	<li>Tommy Sheppard, Founder of The Stand Comedy Club</li>
	<li>Ali Smith, Author</li>
	<li>Graeme Stuart, Director, So Television</li>
	<li>Alan Taylor, Editor</li>
	</ul>
	      </div>
	      <div class="tab-pane fade" id="tab-d">
	         
	      <h1>Business</h1>
	<p>Many of our graduates have gone on to achieve great things in the business world.</p>
	<ul>
	<li>Lord Stephen Carter, Baron Carter of Barnes CBE, Chief Marketing and Strategy Officer at Alcatel-Lucent</li>
	<li>Douglas Craig (Honorary Graduate), Chairman and Managing Director, The Craig Group</li>
	<li>Sir Don Cruickshank, Chairman of the London Stock Exchange (2000 - 2003)</li>
	<li>Campbell Gemmell, Former Chief Executive, Scottish Environment Protection Agency</li>
	<li>Martin Gilbert, CEO, Aberdeen Asset Management plc</li>
	<li>Iain Gray, CEO, Technology Strategy Board</li>
	<li>Iain Mackay, Group Finance Director, HSBC</li>
	<li>Jim Milne (Honorary Graduate), Chairman and Managing Director, Balmoral Group</li>
	<li>Susan Rice, Former Chairman and Chief Executive, Lloyds TSB Scotland plc. Current Managing Director of Lloyds Banking Group (LBG) in Scotland</li>
	<li>James Smith, Former Chairman, Shell UK (2004 - 2011)</li>
	<li>Ian Suttie(Honorary Graduate), Chairman and Chief Executive, First Oil Expro</li>
	<li>Otto Thoresen, Chair of National Employment Savings Trust, Former Director General, Association of British Insurers</li>
	<li>Willie Watt, Chief Executive Officer, Martin Currie Investment Management</li>
	<li>Will Whitehorn, Former President, Virgin Galactic (2004 - 2011)</li>
	<li>Sir Ian Wood, Wood Group (1964 - 2012)</li>
	      </div>
	      <div class="tab-pane fade" id="tab-e">

	      <h1>Law</h1>
	<p>Our alumni have gone on to secure roles at the highest levels of the legal profession both in the UK and the United States.
	</p>
	<ul>

	<li>The Hon Lord Bracadale QC (Alastair Peter Campbell), Scottish advocate and Senator of the College of Justice</li>
	<li>The Hon Lady Dorrian QC (Leeona June Dorrian) Judge of the Supreme Court, Scotland</li>
	<li>Frank Mulholland, QC, Lord Advocate for Scotland</li>
	<li>The Hon A Gail Prudenti, Supreme Court Justice, New York State</li>
	<li>The Hon Lord Woolman QC (Stephen Errol Woolman) Judge of the Supreme Court, Scotland</li>
	</div>
	      <div class="tab-pane fade" id="tab-f">
	         
	<h1>Politics</h1>
	<p>Many of our alumni have gone on to represent constituents in Westminster and Holyrood.</p>
	<ul>
	<li>Lord Addington (Dominic Hubbard), 6th Baron Addington, British Liberal Democrat politician</li>
	<li>Alasdair Allan MSP, Minister for Learning, Science and Scotland's Languages</li>
	<li>Richard Baker MSP</li>
	<li>Dame Anne Begg MP, British Labour Party politician</li>
	<li>Rhona Brankin, Former MSP, Deputy Minister for Health and Community Care</li>
	<li>Robert Brown, Former MSP, Deputy Minister for Education and Young People</li>
	<li>Alistair Carmichael MP, MP for Orkney and Shetland, Deputy Leader of the Scottish Liberal Democrats, Former Secretary of State for Scotland.</li>
	<li>Katy Clark MP, British Labour Party politician</li>
	<li>Roseanna Cunningham MSP, Minister for Community Safety and Legal Affairs</li>
	<li>Rt Hon Alistair Darling MP, Former Chancellor of the Exchequer</li>
	<li>Murdo Fraser MSP</li>
	<li>Robin Harper, Former MP and leader, Scottish Green Party</li>
	<li>Rt Hon Tessa Jowell MP, British Labour Party politician</li>
	<li>Lewis Macdonald MSP</li>
	<li>Mark McDonald MSP</li>
	<li>Nanette Milne MSP</li>
	<li>Angus Robertson MP</li>
	<li>Lord Stephen (Nicol Ross Stephen), Baron Stephen, Former MSP and Deputy First Minister</li>
	<li>Stewart Stevenson MSP, Minister for Environment and Climate Change</li>
	<li>Mike Weir MP</li>

	      </div>
	      <div class="tab-pane fade" id="tab-g">

	      <h1>Science and Medical Research</h1>

	<p>Our graduates are now working at the highest level in science and medical research.</p>
	<ul>
	<li>Professor Sue Black OBE, Professor of Anatomy and Forensic Anthropology, University of Dundee</li>
	<li>Professor Ian Boyd, Director of the Gatty Marine Laboratory, University of St Andrews</li>
	<li>Dr Karen Gardiner, Managing Director, HG Medicines Ltd</li>
	<li>Dr Adrian Ivinson, Director, Harvard NeuroDiscovery Center, Harvard Medical School</li>
	<li>Dr Eleanor Mitchell, Director of Commercialisation, Scottish Enterprise</li>
	<li>Dr Oliver Peoples, Founder and Chief Scientific Officer, Metabolix</li>
	<li>Dr Adam Watson, Biologist, Ecologist and Mountaineer</li>
	<li>Dr Mike Wyllie, Founder and Director, Global Pharma Consulting Ltd</li></div>

	   </div>
	</section>



	            





	         

	 
	         </div>

	      </div>
	      </div>
	      </div>



	        {% endblock body%}