
	     {% extends "frame.html" %}

	     {% block title %} Our Alumni {% endblock title %}

	      {% block body %}

	         <div id="page-content">
	   <div class="container">
	      <div class="row">
	      
	      <div class="col-md-12">
	         <h1>
	            Our Alumni
	         </h1>
	         <br>
	         
	         
	         
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Read More</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>-
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	               <a href="#" class="btn btn-small">Read More</a>
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                <a href="#" class="btn btn-small">Read More</a> 
	               </aside>
	            </article>
	         </div>
	      </div>
	      </div></div></div>


	{% endblock body %}