
	     {% extends "frame.html" %}

	     {% block title %} Parent And Family Programme {% endblock title %}

	      {% block body %}


  <div id="page-content">
  <div class="container">
  <div class="row">
		<h1>Parent and Family Programme</h1>
		<ul class="nav nav-tabs course-detail-tabs">
			<li class="active">
				<a href="#tab-a" data-toggle="tab">Parent and Family Programme</a>
			</li>
			<li>
				<a href="#tab-b" data-toggle="tab">Love from Home</a>
			</li>
			<li>
				<a href="#tab-c" data-toggle="tab">Discounts and Services</a>
			</li>
			<li>
				<a href="#tab-d" data-toggle="tab">Join the Programme</a>
			</li>
		</ul>
		
		<div class="tab-content course-tab-content">
			<div class="tab-pane fade in active" id="tab-a">
				<div class="col-md-8 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>lorem</p>
				</div>
				<img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="200" height="200">

			</div><!--  Tab A ending -->
			<div class="tab-pane fade" id="tab-b">
				<div class="col-md-8 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<aside><img src="static/assets/img/blog-01.jpg" class="" alt=""></aside>
				<br>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="row">
					<div class="col-md-4"><img src="static/assets/img/blog-01.jpg" class="img-responsive" alt=""></div>
					<div class="col-md-4"><img src="static/assets/img/blog-01.jpg" class="img-responsive" alt=""></div>
					<div class="col-md-4"><img src="static/assets/img/blog-01.jpg" class="img-responsive" alt=""></div>
				</div>

				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br>
				<section>

				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div></>
				
				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

				</section>

			</div><!--  Tab B ending -->

			<div class="tab-pane fade" id="tab-c">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br>
				<section class="col-centered">
				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div></section>
				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

				<div class="col-md-4 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

			</div><!--  Tab C ending -->

			<div class="tab-pane fade" id="tab-d">
			 <div class="col-md-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br>
				<form method="" action="">
				<fieldset>
				<legend>Parent Details</legend>
					<label><h3>Enter Your Details to join the programme</h3></label>
					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Title" type="text"></div></div></div>

					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="First Name" type="text"></div></div></div>

					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Second Name" type="text"></div></div></div>

					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Email Address" type="email"></div></div></div>

					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><textarea class="form-control" placeholder="Postal Address" type="text"> </textarea></div></div></div>
					<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Phone Number" type="tel"></div></div></div>

					<div class="selectize-control single row col-md-8">
						
						<select name="">
						<option disabled selected >Your relation to student </option>
							<option value="Father">Father </option>
							<option value="Mother">Mother</option>
							<option value="Guardian">Guardian</option>
							<option value="Other">Other</option>

						</select>
						
					</div>
				 <article class="row"><div class="col-md-8">
				 	
				 	<div class="col-md-8 checkbox">
				 		<label class="">
				 			<div class="icheckbox">
				 				<input style="position: absolute; opacity: 0;" type="checkbox">
				 				<ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" class="iCheck-helper"></ins>
				 			</div>I would like to add my business details 
				 		</label>
				 	</div><br>
				 	<div class="col-md-8 checkbox">
				 		<label class="">
				 			<div class="icheckbox">
				 				<input style="position: absolute; opacity: 0;" type="checkbox">
				 				<ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" class="iCheck-helper"></ins>
				 			</div>I am an alumnus of the University of Karunya
				 		</label>
				 	</div><br>
				 	<div class="col-md-8 checkbox">
				 		<label class="">
				 			<div class="icheckbox">
				 				<input style="position: absolute; opacity: 0;" type="checkbox">
				 				<ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" class="iCheck-helper"></ins>
				 			</div>My spouse or partner would like to sign up 
				 		</label>
				 	</div>
				 
				 </div></article>
				 
				 </fieldset><br>
				 <fieldset>
				 	<legend>Student Details</legend>

				 	<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="First Name" type="text"></div></div></div>
				 	<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Last Name" type="text"></div></div></div>
				 	<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Degree Subject type"text"></div></div></div>
				 	<div class="row"><div style="min-height: 50px;" class="col-md-6"><div class="input-group"><input class="form-control" placeholder="Anticipated Graduation Year" type="text"></div></div></div>


				 </fieldset>
					<br>
				 <fieldset>
				 	<legend>Data protection statement</legend>
				 	<p>The information gathered on this form will be used for the purpose of providing services and information that may be of interest to you as a friend of the University, including University activities and fundraising appeals.

If you do not wish to receive such correspondence from us, please let us know by sending an email to g.norman@abdn.ac.uk.

Data Protection Act 1998: All data is securely held in the University of Aberdeen Development Trust and is treated confidentially and with sensitivity for the benefit of the University and its constituent parts.</p>
				
				
				 </fieldset><br>
				<input type="checkbox" name="read" value="something"> I have read the Data Protection Statement<br><br>
				 <button class="btn row" type="submit">Submit</button>



				</form>
				</div>
			</div><!--  Tab D ending -->
		</div>	

		</div>
		</div>
		</div>

{%endblock body%}