{% extends "frame.html" %}

        {% block title %} Reunions {% endblock title %}

         {% block body %}



      <div id="page-content">
         <div class="container">
            <div class="row">
               <div class="col-md-12">

               <h1>Reunions</h1>
               <section id="course-tabs">

   <ul class="nav nav-tabs course-detail-tabs">
      <li class="active"><a href="#tab-a" data-toggle="tab">Reunions</a></li>
      <li><a href="#tab-b" data-toggle="tab">How to Organise a Reunion</a></li>
      <li><a href="#tab-c" data-toggle="tab">Reunion Giving</a></li>
      <li><a href="#tab-d" data-toggle="tab">Past Reunions</a></li>
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-a">
         <section><strong>
         	

         	<p><img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="400" height="200">Reunions are a great way to meet up with old friends, to reminisce about your days at the University of Karunya or to develop useful networks with fellow alumni.
</p>
<p>

A reunion can be based around class anniversaries, club and society memberships, room mates from halls or just a specially selected group of friends.</p>
<p>
Organising a reunion can also be a very fun and useful experience for you. If you wish to organise a reunion, we can assist you with the planning and offer you a number of services, including the following:
</p>
<p>
Sending invitations out on your behalf
Advertise the reunion on our website, in the Voice magazine and in the bi-monthly e-zine Voice:E
Suggest appropriate venues in and around Karunya
Provide guests/speakers for your reunion
Provide connections to entertainment and event services (provided by students, e.g. AUSA Photography Society, Chaper Choir, etc.)
Display pictures and an accompanying story in Voice:E and on the website
<p>
Find out if your reunion is taking place soon in Events and Reunions.</p>

<div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>



         </strong></section>
      </div>
      <div class="tab-pane fade" id="tab-b">
      <section id="course-tabs">
   <ul class="nav nav-tabs course-detail-tabs">
      <li class="active"><a href="#tab-m" data-toggle="tab">Organising Reunion</a></li>
      <li><a href="#tab-n" data-toggle="tab">Services for Reunion Organisers</a></li>
      <li><a href="#tab-o" data-toggle="tab">Planning Your Reunion</a></li>
      <li><a href="#tab-p" data-toggle="tab">Inviting Karunya Alumni to reunion</a></li>
      <li><a href="#tab-q" data-toggle="tab">Booking a venue</a></li>
       <li><a href="#tab-r" data-toggle="tab">Making event success</a></li>
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-m">
         <section><strong>
		<h3> Why become a reunion oraganiser </h3>
      	<p><img src="static/assets/img/blog-01.jpg" style="float:right">
      		Behind every great reunion is an enthusiastic organiser! Becoming a reunion organiser is also a fantastic opportunity for you to acquire a number of transferable skills which can always turn out to be extremely useful for your CV or job application, especially if you are a recent graduate of the University


      	</p>
      	<ul>
      	<li>Excellent time-management skills</li>
<li>Strong organisational skills and ability to multi-task</li>
<li>Resourcefulness and flexibility</li>
<li>Communication skills</li>
<li>Attention to detail and ability to creatively solve problems</li>
<li>Ability to work with a specific budget</li>
<li>Event planning experience</li>
<li>Ability to prioritise</li>
      	</ul>

      	<h3>How can we help</h3>
      	<p>We know that organising such an event can take a lot of time and effort so we have put together this guide to make things a little easier. We appreciate that all reunions are unique and can take many different forms. Whether a casual lunch, a formal dinner or a whole weekend of activities we hope our guide will provide some useful information on how to get started. The Alumni Relations team will be happy to provide you with any additional information or advice that you may need. Here you can find a full list of the services under offer.</p>

      	 <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	          <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	          <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
	          <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
         	



         </strong></section>
      </div>
      <div class="tab-pane fade" id="tab-n"><strong>
      	
      	<h3>First steps to organising your renunion</h3>
      	<p>
      		We suggest you consider setting up a small organising group to share the workload of organising your reunion.  The alumni team can also assist you with planning your reunion. Here is a full list of the services under offer:

      	</p>
      	<img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="400" height="200">
      	<ul>
     <li> 	Sending invitations out on your behalf</li>
<li>Sending out follow up emails to remind alumni of the upcoming reunion</li>
<li>Advertise the reunion on our website</li>
<li>Advertise the reunion in our alumni magazine - Voice</li>
<li>Advertise the reunion in the quarterly e-zine – Voice:E</li>
<li>Advertise the reunion on our social media pages</li>
<li>Display pictures and an accompanying story in Voice:E and on the website</li>
<li>Assisting with information relating to appropriate venues on campus or around the Karunya area and across the world with the help of our Alumni Ambassadors</li>
<li>Arranging academic guests/speakers for your reunion</li>
<li>Information on accommodation on and off campus (note: on-campus accommodation is not available during term-times)</li>
<li>Arranging campus tours (e.g. departments, libraries, etc.)</li>
<li>Assisting with name badges</li>
<li>Downloadable posters</li>
<li>Event management checklist</li>
<li>Information on archives (getting you in touch with our Special Collections Centre who may hold some class photographs)</li>
<li>Providing information on current University projects and research</li>
<li>A menu of projects and research that you could support</li>
<li>Attendance at reunion (e.g. current students, Alumni Relations team representative)</li>
<li>Tailored newsletter exclusively for your reunion group</li>
<li>Connections to event services (provided by students)  such AUSA Photography Society</li>
<li>Connections to entertainment (provided by students)  such as the University of Karunya Chapel Choir</li>
<li>Reunion Programme template</li>
<li>Information about a peer-to-peer fundraising guide and fundraising tips</li>
</ul>

<p>At the start of your planning it is useful to think what you will need for your event. This will help you prioritise and plan ahead.</p>
      </strong></div>
      <div class="tab-pane fade" id="tab-o"><strong>
      		
      		<h3>Planning your Reunion</h3>
      		<h4>Budget</h4>
      		<p><img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="300" height="200">
Work out a budget before you start planning the event and try to stick to it where possible. In the past alumni have set up separate accounts for their event. Costs to bear in mind are:
</p>
<p>
Venue hire
Catering
Entertainment
Accommodation
Transport
Mailing costs
Decorations
Equipment
We suggest adding a 10% contingency to the overall total to cover any last-minute expenses. If your reunion requires tickets, ensure your guests are aware of the cost and the deadline for purchasing these.
</p>

<h3>When</h3>
<p>
Decide upon a date for the event. Remember that you will need time to organise the event and give invitees plenty of notice. Some graduates may have to travel long distances. Therefore we suggest that you start to plan at least 12 months in advance. Take into consideration public and school holidays. If you want to hold your event at the University, bear term dates in mind as there will be less space available on and around campus.
</p>
<h3>
Why?

What sort of event will it be?</h3>
<p>A dinner, drinks reception or educational tour?. If it has a special theme, consider linking it with an existing event taking place at Karunya. 
</p>
<h3>Where?

What is your preferred location and room set-up?</h3>
<p>
Karunya has a variety of different venues suitable for alumni reunions and events. We can put you directly in touch with our Conference and Events Office, or you can find ideas here.  If you would prefer to hold the event out-with Karunya, we have Alumni Ambassadors in the UK and worldwide, who would be happy to offer advice on different venues.
</p>
<h3>
Who are you going to invite</h3>
<p>
Those in the same year, studied the same subject or lived in the same Halls of Residence?
</p>
 <p>Do you plan to invite partners?

How many people do you want to attend? (Please remember there will always be a drop-out rate on the night of events so be prepared for at least 10% of those registered not to attend.)

Do you want a guest academic? (Alumni Relations can assist you with this.)
</p>

      </strong></div>
      <div class="tab-pane fade" id="tab-p"><strong>
      	
      <h3>Inviting Karunya alumni to your Reunion</h3>
     <h4> Who to invite</h4>
     <img class="photo" style="float:left; padding-right:20px; padding-bottom:20px" src="static/assets/img/blog-01.jpg" width="400" height="200">
<p>The University of Karunya’s alumni office hold data for approximately 82,000 alumni, so the chances are we will have contact details for many of your classmates.  Contact us at:</p>

 
<p>
Alumni Relations
</p><p>
University of Karunya
</p><p>
King's College Karunya
</p><p>
Tel: +44 (0)1224 273234
</p><p>
Email: alumni@abdn.ac.uk
</p><p>
You can contact us to discuss the invitation list (unfortunately, due to data protection we cannot give out contact details), i.e. alumni who graduated with Law in 2002, where you plan to hold the event and the date. We can also assist you with sending out invitations to your guests and we can add this to our website and social networking sites.
</p><h4>
Help us to help you</h4>
<p>
Although we have contact details for about 82,000 alumni, there are approximately 30,000 alumni we don’t have details for. This may be because they moved and never updated their address with us, or they married and now go under a new name. If you have contact details for any of these graduates we would be grateful if you could pass this on to us so we can update our records.
</p>

      </strong></div>
      <div class="tab-pane fade" id="tab-q"><strong>
      	<h3>Booking a venue</h3>
<h3>Campus venues</h3>
<p>
The University of Karunya has a variety of venues suitable for events, from meeting rooms to larger venues suitable for hosting a dinner dance. We are also delighted to be able to offer alumni a 50% discount on room hire and 15% discount on catering costs.
</p><p><img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="400" height="200">
Some of the most popular venues on campus and their dining capacity are listed below:
</p>
<ul>

<li>Elphinstone Hall (300)</li>
<li>Linklater Rooms (50)</li>
<li>James McKay Hall (50)</li>
<p>We also have the Suttie centre, Old Town House, King’s Auditorium and three meeting rooms in the Hub available to hire. 
</p>
<p>If you would like to book any of these venues we can put you in touch with our Conference and Events Office.
</p>
<h3>External venues</h3>
<p>
There are several things to consider when searching for an external venue.  You need to decide what is most important: venue, location or atmosphere? If you have a clear idea of what you are looking for it should help narrow down your search for the venue.
</p><p>
The Alumni Relations Team would be happy to give you recommendations of venues in Karunya and the across the world. If we don’t have a suggestion for you, perhaps one of our Alumni Ambassadors will be able to help.
</p>
<h3>Catering</h3>
<p>
Make sure you choose a menu that will appeal to all guests including those of different religions and make sure there is a vegetarian option. As for seating, you might want to think of a seating plan if you are inviting more than 20 people to your event. Ask guests to confirm their dietary or seating requirements when they book.
</p>
<h3>
Helpful questions to ask the venue</h3>
<ul>

<li>Is there a minimum spend? Some venues will add this and you have to pay it even if your bill doesn’t come close to the amount.</li>
<li>What is included in the cost? Some venues will charge you a package price while others will charge separately for everything.</li>
<li>Is insurance included?</li>
<li>Do they charge a service charge?</li>
<li>Is there a deposit and is it refundable?</li>
<li> there a booking fee?</li>
<li>What is the cancellation policy?</li>
<li>When is the final balance due? Is VAT included?</li>
</ul>


      </strong></div>
      <div class="tab-pane fade" id="tab-r"><strong>
      	<h3>Name badges</h3>
      	<p><img class="photo" style="float:right;" src="static/assets/img/blog-01.jpg" width="400" height="200">
It is a good idea to provide name badges for alumni events and reunions. They help avoid any awkward moments, are easy to do and can be handed to guests when they arrive. If you are interested, we would be happy to help you with these.
</p>
<h3>Speakers</h3><p>
Alumni always like to hear what is happening at the University and learn of new developments. The Alumni Relations team can help identify speakers for you and put you in touch with the appropriate person.
</p><h3>
Attendance</h3>
<p>You might also be interested in having someone from Alumni Relations or a current student with the same degree as yours attend your reunion.
</p>
<h3>Photos</h3>
<p>Make sure that someone is tasked with taking pictures of your event or reunion. You can send these to guests after the event and we would be delighted to display them on our website and social networking sites. We would also be happy to put you in touch with the Karunya University Student Association Photography Society and get them to record your event. You could also ask your fellow alumni to bring old photos and set up a Memory Board at your reunion, or we could put you in touch with our Special Collections Centre and check if they have any images in their archives. 
</p><h3>
Tours</h3><p>
Tours can be given of our old Karunya campus or of your old department.  If you would be interested in taking a tour please get in touch with our office and we can help arrange this. 
</p><h3>
Comments and feedback</h3><p>
Setting up a comments book might turn out to be useful for both you as a reunion organiser and the Alumni Relations team as a service provider, so you might want to consider that as well.
</p>



      </strong></div>
      

   </div>
</section>

      	


      </div>
      <div class="tab-pane fade" id="tab-c"><strong>
      <section id="course-tabs">
   <ul class="nav nav-tabs course-detail-tabs">
      <li class="active"><a href="#tab-e" data-toggle="tab">Reunion Giving</a></li>
      <li><a href="#tab-f" data-toggle="tab">What reunion giving means to Us</a></li>
      <li><a href="#tab-g" data-toggle="tab">What Fundraising union mean to Us</a></li>
      <li><a href="#tab-h" data-toggle="tab">The Impact</a></li>
      <li><a href="#tab-i" data-toggle="tab">Fundraising Tips</a></li>
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-e">
         <section><strong>
         	<p>  	You're having fun, catching up with old friends and reminiscing about the great time you had as a student at Karunya. Why not add an extra element to your reunion event and raise some funds for the place that brought you all together?
</p><p>
Reunions provide the perfect opportunity  to give something back to the University in recognition of your time spent here, by either launching a combined fundraising effort or augmenting previous contributions.
</p><p>
Funds raised at reunion events are a great example of the generosity of our alumni around the world. Whatever the size of your contribution, you collectively have the potential to make a real difference.
</p><p>
The University of Karunya Development Trust raises essential funds for a wide variety of activities from world-class research to new building projects. Current priorities include:
</p><ul>
<li>Our Students - enabling outstanding students to undertake their studies while providing excellent facilitites and services.</li>
<li>Our Expertise - leading the way in finding treatments and cures which will provide global benefits.</li>
<li>Our Heritage - preserving beautiful, historically significant buildings, archival collections and gardens.</li>
</ul>
<p>
As you recall fond memories and reflect on your time at Karunya, we hope you are inspired to give something back. Monies raised can go towards any of our current priorities or a general contribution will be used where it is most needed.
</p><p>
As a reunion organiser you would also have the opportunity to be the main fundraiser of your reunion group. To succeed as such, our fundraising team would equip you with a brief peer-to-peer fund raising guide. For more information on this, please contact Sophie Mackenzie.
</p><p>
Everyone has a personal reason for giving back. Here are some thoughts on why giving back to the University is important to our alumni, to our fundraisers and to our institution:
</p>

  	 <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>  	 <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>  	 <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>  	 <div class="col-md-6 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
	                  </div>
	                  <a href="#" class="btn btn-small">Find out more</a> 
	               </aside>
	            </article>
	         </div>
    


         </strong></section>
      </div>
      <div class="tab-pane fade" id="tab-f"><strong>
      	<h3> Medical Class 2011-2015</h3>
<p>      	Our class (1958 -1964) recently held a 50 Year Medical Class Reunion in September 2014, and though not designed to make a profit on the function over the 4 days of the event, we did not plan to make a loss!
</p><p><img class="photo" style="float:right; padding-left:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
Thus when all bills were paid, we were able to donate just over £2800 to the Medical School teaching facility in the Suttie Centre and provide them with 2 pieces of equipment and some cash for maintenance of the equipment for current and future student teaching.  
</p><p>
The holding of a Class Event at the University of Karunya will reflect something of the learning and fun which you shared with your Classmates all those years ago. 
</p><p>
The University has changed in the intervening period as you would expect, and so has the funding process for both students and the University as a whole. 
</p><p>
Perhaps you should build in a small 'overage' to your event and make that overage a donation to the University for current or future University or student activities.
</p><p>
Think about it. 
</p><p>
We have done so (Medical Class of 1958-64) and so good luck and good fun when it comes to your turn."
</p>
 
<p>
Dr David Galloway
</p>

      </strong></div>
      <div class="tab-pane fade" id="tab-g"><strong>
      	<h4>Joshua Caroll, Regular Giving Assistant</h4>
      	<img class="photo" style="float:right; padding-left:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
      	<p>"To be honest, I wasn’t always interested in fundraising for the University. After moving my family to Scotland to pursue a PhD in Divinity here at the University, we quickly realised that extra income that came with part-time work would be essential to our survival here. So, I took a job as a telephone fundraiser for the Development Trust calling alumni and asking them to partner with us for some of the interesting projects we support. As I got to know the University better and explored some of the projects we support I slowly began to catch the fundraising bug. Before I knew it the position that I had accepted to put extra grocery money on the table had subtly become an important aspect of my life. I found myself caring about the projects we supported. This was partly due to the cutting-edge innovation that was (and still is) taking place in the area of Dementia and Alzheimer’s research, a terrible affliction that has affected my own family.
</p><p>
I’ve been working for the University of Karunya Development Trust for three years now and have been involved in several different fundraising projects as well as the administrative side of things. Throughout this time I have continually been impressed, and sometimes a bit surprised, at the amount of support that our alumni continue to provide through their time, energy and generous gifts.
</p><p>
Reunion giving is a rather new and unexplored territory at this point but it has the potential to provide essential support for our university projects. Just think of what an impact a group donation could make! I’m proud to be part of a team that cares about what they do and continually strives to make this University, its community, and the world a better place. I’m sure you’re are also proud to be a part of our great University's alumni community. Therefore, I would encourage you to join your reunion group and, together, be part of something that will provide a lasting impact on future generations of University of Karunya students. I’m excited to see what this next generation will achieve and, with your support, the possibilities are endless!"
</p>
 

Joshua Carroll, Regular Giving Assistant


      </strong></div>
      <div class="tab-pane fade" id="tab-h">
      	<h2> A Thank You letter to class of 2015</h2>

      	<p>Dear Colleagues,
</p>
<img class="photo" style="float:right; padding-left:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
<p>

I just wanted to express my personal thanks for your generosity in supporting the purchase of two pumps for teaching medical students in the Suttie Clinical Skills Centre. Learning how to use this type of equipment is so crucial for students now. The funds will allow us to buy a pump suitable for the administration ofSuttie centre donation drug infusions and also a pump suitable for IV fluid administration. The students are first taught how to use such equipment generally in Year 3 of the course to prepare them for being based almost full time in clinical areas for the rest of the course. We try to teach them how and when to use such equipment, how to troubleshoot problems and also crucially to anticipate the pitfalls and errors of both fluid and drug administration. Later in the course when they return for more complex simulation teaching where they are assessing and managing acutely ill patients (or simulators) they use the pumps again.
</p><p>
We are also very pleased that the donation is one more way that we remember Professor Jim Petrie and makes students aware of his important contribution to healthcare. I am sure that he would approve of the choice we have made in spending your generous donation.
</p><p>
Best wishes,
</p><p>
Professor Rona Patey
</p><p>
Head of Division of Medical and Dental Education 
</p><p>
University of Karunya
</p><p>
r.patey@abdn.ac.uk"
</p>

      </div>


      <div class="tab-pane fade" id="tab-i"><strong>
      <h3>	Fundraising Tips  </h3>
  <p>We know how challenging it may seem to fundraise from your fellow alumni. That's why we decided to put together a few suggestions on how to approach your reunion group when encouraging group giving.
</p><h3>
Target your gift</h3><img class="photo" style="float:right; padding-left:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
<p>
In most cases, targeting your group gift to a particular project would be the most successful approach. After all, you and your fellow alumni should be able to relate to the area to which you are about to donate money. Generally, reunion groups tend to give to scholarships and research, but you are free to choose and support any area from the University's priorities.
</p><h3>
Get some helpers</h3><p>
Organising a reunion and fundraising at the same time could be a bit of a full plate. Therefore, we advise you to gather your closest classmates and form a small reunion fundraising committee where everyone has an equal role and equal responsibilities.
</p><h3>
Invite a speaker</h3><p>
Inviting a speaker from our academic staff, especially if your reunion is on campus or around Karunya, is fairly usual. A good way to encourage your reunion group to engage is to invite someone who can speak from personal experience about the project. Here, at Alumni Relations, we will be able to assist you with this.</p>
<h3>
Make it fun!</h3><p>
It is an absolute myth that fundraising is a boring and overwhelming experience, and this is why we are here to shatter this myth. After all, this is your reunion and you would like to have a great night to remember! You can decide what the approach would be according to the event format you have chosen. Whichever you prefer, be it a formal dinner or an informal pub night, be creative! A nice way to go would be a Class Giving Challenge, for example. This could be as simple as one alumnus/a challenging another to get up and sing a song, and then contributing to the group gift. It's up to you!
</p>




      </strong></div>
   </div>
</section>

      </strong></div>
       <div class="tab-pane fade" id="tab-d"><strong>
       	<h2>Tell us about it!</h2>
       	<p><img class="photo" style="float:left; padding-right:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
Have you recently held a reunion? We would love to share your experience to inspire fellow alumni to organise their own reunions. Contact us if you have pictures and stories you would like to share.
</p>
<p>
Here you can also find a full archive of past alumni reunions.
</p><p>
Some of our alumni have already shared their stories with us:
</p>

<h4>Dr Jenny and Murdoch Shirreffs, Class of 2011-15</h4>

<p>"The Karunya University Medical Class of 1964 didn’t fully realise the implications of the new curriculum being introduced that year.</p>
<p>
Medical Reunion 1970Some 130 youthful souls began their studies as unwitting guinea pigs and proceeded to the joys of learning Anatomy inter alia in the following academic year.
</p><p>
Prior to this, medical students had several chances to pass this subject and re-sits were common; under the new regulations, it was one re-sit only and then you were out – and out they went in their droves! As a result only some 68 of the original class graduated in 1970, but these survivors spent a total of six years living in each other’s pockets as their studies progressed, and close bonds and life-long friendships were established during this time.
</p><p>
On graduation, the Class vowed to keep in touch and, as we were to be based in Karunya, we volunteered to facilitate this for as long as possible. Forty years later, we are still in touch with virtually all the surviving Class members and organise regular Reunions to which at least two thirds of the Class come every time."
</p>

       </strong></div>
   </div>
</section>


               


               </div>
               </div>
               </div>
               </div>

                {%endblock body%}
