
        {% extends "frame.html" %}

        {% block title %} Stay In Touch {% endblock title %}

         {% block body %}

         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Stay in touch</h1>
         
         <p>As a member of our alumni community you are an important part of the extended Karunya Family. With over 84,000 alumni, living in 170 countries there are lots of opportunities for you to network, socialise and make contacts.

You may be interested in finding a friend, joining a club or association or organising a reunion. We also have a network of international Alumni Ambassadors.

Remember to visit the Alumni Hub to update your details and submit your news to enable us to keep you up to date with what is going on at the University.

If you have any suggestions for other services or opportunities we could offer, please do not hesitate to contact us.</p>
         
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
            <article class="blog-listing-post">
               <figure class="blog-thumbnail">
                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
               </figure>
               <aside>
                  <header>
                        <h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3>
                  </header>
                  <div class="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p>
                  </div> 
                  <p><a href="#" class="btn btn-small">Read More</a></p>
               </aside>
            </article>
         </div>
      </div>
      </div></div></div>



        
        {%endblock body%}