{% extends "frame.html" %}

        {% block title %} Voice {% endblock title %}

         {% block body %}
         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Voice</h1>
         <p>The Alumni e-zine 'Voic:E' is a round-up of University and Alumni news, events and notices that we can email directly to you. To subscribe visit the <a href="#">Alumni Hub</a> website and access the Preferences section. 
         </p>
         <p>You can also keep up-to-date with all of the latest news from the University as a whole, by signing up to receive regular news feeds straight to your inbox. To find out more and to subscribe to this feed please visit the <a href="#">Media Releases</a> page.</p>

         <p>To read the latest and archived editions of Voic:E, please use the links below.</p>
         <b>2015</b>
         <ul class="list-links">
            <li><a href="#">September</a></li>
            <li><a href="#">March</a></li>
         </ul>
         <b>2016</b>
         <ul class="list-links">
            <li><a href="#">January</a></li>
            <li><a href="#">February</a></li>
         </ul>
         
         
         
         
        
      </div>
      </div></div></div>


  {%endblock body%}
