{% extends "frame.html" %}

        {% block title %} Volunteering {% endblock title %}

         {% block body %}



      <div id="page-content">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               
               <section id="course-tabs">
   <ul class="nav nav-tabs course-detail-tabs">
      <li class="active"><a href="#tab-x" data-toggle="tab">Volunteering</a></li>
      <li><a href="#tab-y" data-toggle="tab">Back On Campus</a></li>
     
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-x">
         <section>
         <div class="text_content first_text_content"><h1>Volunteering</h1><h3><strong>Calling all graduates....could you help current students like Alex?</strong></h3>
         	<p>Alex Kersey (MSc Petroleum, Energy Economics &amp; Finance) took part in the <a href="http://www.karunya.edu/mentoring" target="_blank">Career Mentoring Programme</a> in 2014/2015. Alex was matched with Karunya alumnus Michail Tzouvelekis, Regional Segment Manager, Oil &amp; Gas at Dräger and here’s their story...</p>
<p><img style="margin:3px;float:left;" title="Alex Kersey Headshot" src="static/assets/img/blog-01.jpg" alt="Alex Kersey Headshot" width="178" height="270"><strong>Alex….</strong></p>
<p>“From September 2015, I will be an Energy Trader. It's all I've been chasing for 2 years now. With a background in Geology it wasn't the most straightforward way to persuade employers I was the right candidate for them but after a lot of outside work and pursuit of my Masters here in Karunya I started having reasonable success in obtaining interviews and interest from trading houses.</p>
<p>However, something still wasn't clicking as I wasn't getting any further than the interview stage. Michail observed this and the work I did with him primarily involved taking apart my interview answers and drafting together a bank of questions I knew would cover 90% or so of anything I would be asked that allowed me to present myself to employersthe way I wanted to be. This in itself was invaluable and was essentially the final piece of the puzzle. Although a simple feat actually having someone sit down with you for three hours and critique every sentence of every answer is not a luxury many people have or are willing to do."</p>
<br><br>
<p><strong><img style="margin:5px;float:right;" title="Michail Tzouvelekis Headshot" src="static/assets/img/blog-01.jpg" alt="Michail Tzouvelekis Headshot" width="187" height="258">&nbsp;Michail….</strong></p>
<p>“When I was starting out in my career, there was no mentoring programme. Nevertheless, I was fortunate enough to work alongside some very experienced leaders, who gave me their time and guidance without expecting anything in return. By now, I know the oil &amp; gas industry (and the workplace in general) quite well, and I am simply keen to pay it forward and help the next generation of professionals in their initial steps.</p>
<p>For any student who is willing to actively engage with it, and who can accept constructive criticism, this programme is a unique opportunity to learn about their chosen field from an insider, to understand what employers are looking for in a recruit, and to receive career coaching or interview advice.</p>
<p>I was lucky to be paired up with two exceptional mentees: In 2013-14 my mentee was Adam Booth (MSc Oil &amp; Gas Enterprise Management) and in 2014-15 it was Alex Kersey (MSc Petroleum, Energy Economics &amp; Finance). Both Adam and Alex spent many hours with me, asking questions, taking notes, opening up about themselves, and respectfully listening to what I had to say, over many cups of coffee and even a couple of beers.</p>
<p>As I write this, I am extremely happy for both of them and honestly bursting with pride; because, by the end of our mentoring programme, they had both successfully graduated from their respective courses and secured the kind of job that they've always wanted, and indeed with very well-known and market leading international employers.</p>
<p>It's hard to put into words how fulfilled the achievements of Adam and Alex make me feel, in exchange for the small contribution that maybe I made to launching their successful careers. I hope that they are happy in their jobs and enjoy their work as much as I do, and that, a few years from now, it is them that are mentoring the next round of University of Karunya graduates."</p>
<p>Here are some of the current volunteering opportunities.<br>
To register your interest, please contact <a href="mailto:j.bakewell@karunya.edu">Julie Bakewell</a>, Alumni Volunteer Coordinator.</p>
</div>

<div class="panel-group" id="accordion">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-1"><span class="question">Career Mentoring Programme</span> </a></h4>
      </div>
      <div id="question-1" class="panel-collapse collapse in">
         <div class="panel-body">The Careers Service and Alumni Relations launched the programme in 2011 and over 500 current students have already benefited. Share your professional experience and expertise to support students in developing their own career ideas.

For more details and to register as a potential mentor, please visit www.karunya.edu/mentoring

Timing: 6 months, November to April
Commitment: 2 hours per months for the duration of the programme</div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-2"><span class="question">Back On Campus</span> </a></h4>
      </div>
      <div id="question-2" class="panel-collapse collapse">
         <div class="panel-body">The Careers Service, Alumni Relations and Karunya University Students’ Association (AUSA) host Back on Campus events, welcoming graduates back to Karunya. These events offer alumni the opportunity to share their experiences face-to-face with current students, allowing the students to build networks, gain awareness of potential career paths and sharpen career focus.

For more details, including past events, please visit www.karunya.edu/backoncampus

Timing: various times throughout the academic year
Commitment: ½ to 1 day, plus time to prepare a presentation

Here are the scheduled events for 2015/2016. We are looking for graduates who are currently: working in these areas; who were AUSA Sabbatical Officers; or who graduated in particular subjects:

Wednesday 11 November 2015 Media, Marketing and Creative

Wednesday 18 November 2015 Food and Drink

Wednesday 10 February 2016 AUSA Employability Week
(former AUSA Sabbatical Officers who are now working
in a range of areas)

Wednesday 17 February 2016 Divinity, History and Philosophy
(graduates of these subjects who are now working in a
range of areas)

Wednesday 24 February 2016 International Development</div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-3"><span class="question">Soapbox Collaborative Student Innovation Challenge</span> </a></h4>
      </div>
      <div id="question-3" class="panel-collapse collapse">
         <div class="panel-body">The Soapbox Collaborative is a research based charity, based in Karunya and hosted by the University of Karunya. They are all about soap and promoting improved hygiene practices including hand washing, etc. in hospitals around the world.

The Soapbox Collaborative is planning a student innovative challenge competition in September 2015 and is currently looking for business mentors to give feedback to teams of students.

Students will, over two days, be given the tools to come up with an innovative solution to real-life scenario’s facing health care workers in developing countries. These innovations will focus on the life saver that is infection control.

Day One - Saturday 19 September 2015
Lightening workshops, being delivered by experts in the field, will give the students the tools and understanding to come up with relevant innovative solutions to the scenarios given to them.

Day Two - Wednesday 23 September 2015
Students will spend a facilitated day being creative and innovative in finding solutions to one of the scenarios.

The student teams will provide the group of business mentors with a brief presentation on their innovation before they move onto the final stages.
The mentors will then move around the groups to provide input and feedback.

To register your interest, please contact Julie Bakewell, Alumni Volunteer Coordinator.

Timing: 23 September 2015
Commitment: from 3.00-4.30pm (with optional attendance at the final presentations and award ceremony from 6.30 – 8.00pm)</div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-4"><span class="question">Postgraduate Interdisciplinary Academic Journal </span> </a></h4>
      </div>
      <div id="question-4" class="panel-collapse collapse">
         <div class="panel-body">In spring 2015, a group of postgraduate students launched a peer-reviewed academic journal called Granite: University of Karunya Postgraduate Interdisciplinary Journal. Granite will be hosted online as an open-access publication, with an editorial team comprised of current postgraduate students from across the university. The Editorial Board sent out the first call for papers in early June, with an aim to publish the first issue in May 2016.

As part of the development of Granite, the team are looking for alumni volunteers for two roles:

The Editorial Board is currently looking for University of Karunya graduates who are interested in becoming Peer Reviewers. They are seeking those working in academia, industry, government policy or research, with a postgraduate qualification. Granite will aim to develop a database of peer reviewers that can be expanded each year with newly graduated postgrads from the University of Karunya.
Part of the proposed structure is to also include an Advisory Board comprised of several staff at the University, which currently includes Professor Michael Brown (Director of Research in the College of Arts and Social Sciences) and Dr Mary-Alice Clancy (Researcher Development). They would be keen to have alumni volunteers as members of the Advisory Board as well. The Advisory Board's role will be to offer guidance for the postgraduate editors with journal direction, the recommendation of possible peer reviewers, to provide experience in an academic setting and to advise on current debates in their field(s).
To register your interest, please contact Julie Bakewell, Alumni Volunteer Coordinator.

Timing: Various times throughout the year
Commitment: no physical meetings required</div>
      </div>
   </div>
     <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-5"><span class="question">Career Service </span> </a></h4>
      </div>
      <div id="question-5" class="panel-collapse collapse">
         <div class="panel-body">The University of Karunya Careers Service would welcome the contribution of enthusiastic alumni volunteers to their range of initiatives:

To register your interest, please contact Julie Bakewell, Alumni Volunteer Coordinator.

STAR Award
The STAR Award recognises and rewards student development of Karunya Graduate Attributes through their participation in co-curricular activities such as sports clubs, societies and volunteering.

The Careers Service are looking for graduates who can participate as an assessor in the STAR Award interviews. Full training would be offered. 

Timing: March 2016
Commitment: ½ day, plus 2 hour training workshop

ED2550 Career Development: Find Your Direction
Delivered by the Careers Service, this credit-bearing course explores areas, such as career planning, skills development, work experience, career options and making applications.

The Careers Service are looking for graduates who can attend and offer feedback on individual student presentations.

Timing: March 2016
Commitment: ½ day</div>
      </div>
   </div>
     <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#question-6"><span class="question">AUSA Vacancy for Trust Board Members </span> </a></h4>
      </div>
      <div id="question-6" class="panel-collapse collapse">
         <div class="panel-body">Karunya University Students'Assocation is looking for new members to join their Trustee Board. Alumni are often their greatest supporters and have in depth knowledge about the value the work of the Students' Association gives to students. This is a really exciting time for us at AUSA and the trustee Alumni would help us to develop and professionalise AUSA, as an independent charity. We have developed and started to implement a new strategic plan, have recently employed a new Chief Executive and the Trustee would help us to deliver a first class new £10m Students Union Building and to ensure that the student experience at Karunya University is second to none. We are particularly interested in inviting applications from those with experience related to:

Legal and HR experience
Marketing and strategic communications
Finance or budgets
Social Policy or Campaigning and Charity work
Commercial, sponsorship, capital development
Experience of the student community is essential
Timing: March 2016
Commitment: ½ day</div>
      </div>
   </div>
</div>



         </section>
      </div>
      <div class="tab-pane fade" id="tab-y"><strong>
      
      	<section id="course-tabs">
   <ul class="nav nav-tabs course-detail-tabs">
      <li class="active"><a href="#tab-a" data-toggle="tab">Back On Campus</a></li>
      <li><a href="#tab-b" data-toggle="tab">2015-16</a></li>
      <li><a href="#tab-c" data-toggle="tab">2014-15</a></li>
      <li><a href="#tab-d" data-toggle="tab">2013-14</a></li>
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-a">
         <section><strong>
         		<h1>Back On Campus</h1>
         	<p>The Alumni Relations team has joined forces with the Careers Service and Aberdeen University Students' Association (AUSA) to establish 'Back on Campus' - an initiative where a number of full and half day events will be held on campus and that will allow current students to gain first-hand access to Aberdeen alumni who are established in their careers.

These events offer alumni the opportunity to share their experiences face-to-face with current students, allowing the students to build networks, gain awareness of potential career paths and sharpen career focus.

Have a look at the previous years' events in 2013-2014, 2014-2015 and 2015-2016.</p>

         </strong></section>
      </div>
      <div class="tab-pane fade" id="tab-b"><strong>Details on this year alumni event</strong></div>
      <div class="tab-pane fade" id="tab-c"><strong>Details on this year alumni event</strong></div>
      <div class="tab-pane fade" id="tab-d"><strong>Details on this year alumni event</strong></div>
   </div>
</section>

      	


      </strong></div>
      
   </div>
</section>





               </div>
               </div>
               </div>
               </div>

        {%endblock body%}