
		     {% extends "frame.html" %}

		     {% block title %} Alumni Profiles {% endblock title %}

		      {% block body %}



		         <div id = "page-content">
		   <div class="container">
		      <div class="row">
		      <div class="col-md-8">

		      <h1>
		      Alumni Profiles
		      </h1>
		      <p>
		      What role has Karunya played in your life, either directly - in terms of skills and knowledge - or indirectly, via friends, experiences or chance encounters?</p>
		        
		        <p>
		    What are the benefits of providing a profile? </p>
		    
		    <li>
		 <p>Share your personal story with current students, University staff and fellow alumni </p></li>

		<li><p>
		Raise awareness of the possibilities beyond university <p></li>
		 </p>
		<li><p>
		Inspire the next generation of Karunya graduates <p></li>
		      </p>

		           <blockquote>
<p class="quote"><em class="quote">Enabling our current students to see the great careers that their predecessors have gone on to pursue inspires them to work towards fulfilling their own potential at university and beyond, demonstrating the clear value of an Karunya degree in the world of work.</em> <em class="quote">I am very grateful that the University has been so active in hosting events and look forward to continuously meeting Alumni in the future!”
</em></p>
<p class="quote"><em> Dr. Isabella Jackson,
Helen Bruce Lecturer in Modern East Asian History,
Department of History&nbsp;</em></p>
</blockquote>
<blockquote>
<p class="quote"><em class="quote">Enabling our current students to see the great careers that their predecessors have gone on to pursue inspires them to work towards fulfilling their own potential at university and beyond, demonstrating the clear value of an Karunya degree in the world of work.</em> <em class="quote">I am very grateful that the University has been so active in hosting events and look forward to continuously meeting Alumni in the future!”
</em></p>
<p class="quote"><em> Dr. Isabella Jackson,
Helen Bruce Lecturer in Modern East Asian History,
Department of History&nbsp;</em></p>
</blockquote>
		      
		      </div>
		      <div class="col-md-4">
		      <div class="col-md-8 col-sm-6">
		            <article class="module_1box_container">
		               <figure class="module_1box_image">
		                 
		                  <div class="image-wrapper"><br><br><img src="static/assets/img/blog-01.jpg"></div>
		               </figure>
		               <aside>
		                  <header>
		                     
		                        <h3>Submit Your Profile</h3>
		                     
		                  </header>
		                  <div class="description">
		                     <p>Tell us about yourself.</p>
		                  </div>
		                  <a href="#" class="btn btn-small">Fill in the form</a> 
		               </aside>
		            </article>
		         </div>

		      </div>





		</div>

		   

		</div>
		  
		  <div class="row">


		<dl>
		<dt>
		<dd align="center">
		The form should take no longer than 10 minutes to complete. Your testimonial will be stored and used across our online presence and printed marketing material.
		</dd>
		</dt>
		</dl>
		<p align="center">
		We look forward to hearing from you.
	</p><p align="center">
		Julie Bakewell, Alumni Volunteer Coordinator 
			Submit your profile
		
		  </p>
		  </div>

		      

		      </div>

		         {%endblock body%}