
	     {% extends "frame.html" %}

	     {% block title %} Ambassadors {% endblock title %}

	      {% block body %}

	         <div id="page-content">
	   <div class="container">
	      <div class="row">
	      
	      <div class="col-md-12">
	      <h1>Ambassadors</h1>

<section id="course-tabs"><ul class="nav nav-tabs course-detail-tabs"><li class="active"><a href="#tab-x" data-toggle="tab">Ambassadors</a></li> <li><a href="#tab-y" data-toggle="tab">Current Ambassadors</a></li> </ul><div class="tab-content course-tab-content">

<div class="tab-pane fade in active" id="tab-x">
<section>
	<blockquote>
<p class="quote"><em class="quote"><img class="photo" style="float:right;" title="David Baxter, New York Ambassador " src="static/assets/img/blog-01.jpg" alt="David Baxter, New York Ambassador " width="110" height="82">Living in New York, the people I have met through Alumni events held here in the city have allowed me to feel as though I was right back on campus.</em> <em class="quote">I am very grateful that the University has been so active in hosting events and look forward to continuously meeting Alumni in the future!”</em></p>
<p class="quote"><em>David Baxter (Erasmus Science Exchange 2006)&nbsp;</em></p>
</blockquote>

<p>
The University of Karunya wants to maintain a close relationship with those of you living and working beyond Karunya and in particular overseas.

As we are currently reviewing all the ways in which Karunya alumni continue to get involved with the University, we are not currently looking for new Ambassadors. During this time however, we would still like to hear from you if would like to become more involved with the University, please contact the Alumni Relations team.
</p>

</section>
</div>
<div class="tab-pane fade" id="tab-y">
<h1>Current Ambassadors</h1>
<p>Our Alumni Ambassadors play a key role in helping to keep our global community of alumni engaged with the University of Karunya by promoting alumni links in their local areas.

Find out who your local Alumni Ambassador is by location in the table below.</p>

<section id="course-tabs">
   <ul class="nav nav-pills course-detail-tabs">
      <li class="active"><a href="#tab-a" data-toggle="tab">UK</a></li>
      <li><a href="#tab-b" data-toggle="tab">Europe</a></li>
      <li><a href="#tab-c" data-toggle="tab">Asia</a></li>
      <li><a href="#tab-d" data-toggle="tab">North America</a></li>
      <li><a href="#tab-e" data-toggle="tab">Latin and South America</a></li>
      <li><a href="#tab-f" data-toggle="tab">Africa</a></li>
      <li><a href="#tab-g" data-toggle="tab">Australia</a></li>
   </ul>
   <div class="tab-content course-tab-content">
      <div class="tab-pane fade in active" id="tab-a">
         <section>
         	<div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div>

         </section>
      </div>
      <div class="tab-pane fade" id="tab-b"><strong><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
      <div class="tab-pane fade" id="tab-c"><strong><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div><div id="tab-d" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
       <div class="tab-pane fade" id="tab-e"><strong><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
        <div class="tab-pane fade" id="tab-f"><strong><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
         <div class="tab-pane fade" id="tab-g"><strong><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
          <div class="tab-pane fade" id="tab-c"><strong<div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div><div id="panel273" style="display: block;"><noscript>
&lt;h2&gt;Europe&lt;/h2&gt;
</noscript> <table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img class="photo" style="float:left;margin-left:5px;margin-right:5px;" src="static/assets/img/blog-01.jpg" alt="" width="194" height="108"></p>
<p>&nbsp;</p>
</td>
<td>
<p><strong>&nbsp; Hungary</strong></p>
<p>&nbsp;</p>
<p>&nbsp; Ferenc Kun</p>
<p>&nbsp; MSc Agricultural Economics 1996</p>
<p>&nbsp;</p>
<p>&nbsp; <a title="Hungary Alumni Ambassador" href="/alumni/documents/ambassador_profile_feneric_kun.pdf" target="_blank">Ambassador Profile</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<br class="clear"></div></strong></div>
   </div>
</section>
	



</div>
</div>
</div>
</div>

{%endblock body%}