
	     {% extends "frame.html" %}

	     {% block title %} Campus Benefits {% endblock title %}

	      {% block body %}



	         <div id = "page-content">
	   <div class="container">
	<div class="row">
	
<article>
<h1>Campus Benefits</h1>
  <div class="col-md-12">
	<section id="course-tabs">
		
		<ul class="nav nav-tabs course-detail-tabs">
			<li class="active">
				<a href="#tab-a" data-toggle="tab">Sport and Recreation</a>

			</li>
			<li>
				<a href="#tab-b" data-toggle="tab">Library</a>
			</li>
			<li>
				<a href="#tab-c" data-toggle="tab">Campus Services</a>
			</li>
			<li>
				<a href="#tab-d" data-toggle="tab">Postgraduate Study</a>
			</li>
		</ul>
		<div class="tab-content course-tab-content">
			<div class="tab-pane fade in active" id="tab-a">
				<section>
					<div  class="col-md-7 col-sm-6">

					<h1>Sports and Recreation</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</section>
				<aside><img src="static/assets/img/blog-01.jpg" class="" alt=""></aside>
			</div>

			<div class="tab-pane fade" id="tab-b">
				<section>
					<div  class="col-md-7 col-sm-6">

					<h1>Library</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</section>
				<aside><img src="static/assets/img/blog-01.jpg" class="" alt=""></aside>
			</div>

			<div class="tab-pane fade" id="tab-c">
			<section>
				<aside><h1>Campus Service</h1></aside>
				<hr>
				<div class="col-md-3 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

			<div class="col-md-3 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

			<div class="col-md-3 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>

			<div class="col-md-3 col-sm-2">
					<article class="blog-listing-post">
						<div class="image-wrapper"><a href=""><img src="static/assets/img/blog-01.jpg" width="100%"></a></div> <aside> <header> <a href="blog-detail.html"><h3>Conservatory Exhibit: The garden of india a country and culture revealed</h3></a></header><div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet. Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit.</p></div><a href="blog-detail.html" class="read-more sick-to-bottom">Read More</a> </aside> </article></div>
		</section>
		</div><!--  Tab C ending -->

		<div class="tab-pane fade" id="tab-d">
		<section >
			<div class="col-md-7 col-sm-6">
					<h1>Postgraduate Study</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
		<aside><img src="static/assets/img/blog-01.jpg" class="" alt=""></aside>
		</div>

	</div>
	</section>
	</div>
</article>
</div>

</div>
</div>
{%endblock body%}