
        {% extends "frame.html" %}

        {% block title %} Exhibitions {% endblock title %}

         {% block body %}
         
         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Exhibition: Sport at Karunya</h1>
         <p><b>An exhibition celebrating the 30th anniversary of the formation of the original University of Karunya Athletics Association ran during the May Festival 2015.</b></p>

<p>The exhibition included a collection of images and artefacts, past and present, showcasing our sporting greats, teams, facilities and the important part sport has played in the life of the University and its students. </p>
         
      </div>
      </div></div></div>


 {%endblock body%}