
        {% extends "frame.html" %}

        {% block title %} General Council {% endblock title %}

         {% block body %}

         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>General Council</h1>
         <p>The General Council was established by the Universities (Scotland) Act 1858 and consists of graduates and academic staff. If you are a graduate of the University of Aberdeen you automatically become a member of the General Council.

To find out more about the role of the General Council, its meetings, events and minutes, please visit the General Council website.</p>
         
         
        
      </div>
      </div></div></div>



        {%endblock body%}