
	     {% extends "frame.html" %}

	     {% block title %} Get Involved {% endblock title %}

	      {% block body %}

	         <div id="page-content">
	   <div class="container">
	      <div class="row">
	      
	      <div class="col-md-12">
	         <h1> Get Involved</h1>

	         <p>In order to reinforce the bond with your Alma Mater, we have a few ideas in mind. As a part of our extended Karunya family we request you to join us on this journey. </p>


	          <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/career-mentoring.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Career mentoring</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Every student has been in a position where they have needed a helping hand. Ofcourse there are teachers, friends , councellors and a whole list to choose from but in most cases students are in search of experienced people who may have come across a similar situation and who better to turn to than an alumnus of their university. </p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>

	         </div> 

	          <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/internship-training.jpeg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Internships & Training</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Students every year look for opportunities to enhance their learning ability and practical skills and internships are one way to do so. By posting offers for internships and training offered in various fields you can provide students with a platform to put their bookish knowledge into practice which will ultimately lead them to success.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/industrial-vist.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Industrial visits</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>  Industrial visits offer a practical arena when it comes to a reality check with the engineering methods of manufacture and processing and provides students with a platform to comprehend the employment practices better and their role if they were to take up jobs in the industrial sector. By taking up orientation sessions and guiding students in choosing the right industries, alumni can provide students functional opportunities in different sectors like IT, manufacturing and services, marketing and a lot more.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/placement.jpeg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Placements</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>With a population of over 7000 students that is still growing, has at least 2000 students that pass out every year. Most students are  placed in good companies but there students are in hunt of vibrant careers. It is still a world of creative minds and determined hearts.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/academic-board.png"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Academic Board</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>The primary aim of every university is to be at the pinnacle in every field and in order to do so they have to continuously update themselves. The alumni can be of a major support by being a part of the academic board and linking with us in the development of the curriculum.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/guest-lecture.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Guest Lectures</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p> 'Knowledge is the key to success’ and the most effective way to gain knowledge is by listening. Guest lectures are sometimes the best way to gain insight on a subject which is either a part of your curriculum or from another discipline. We welcome you for this educational venture.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 



	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/consultancy-banner.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Consultancy</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>If you are looking for creative and state-of-the-art ideas for specific business problems do not forget to add Karunya in your options. Outsourcing projects to students has proved beneficial in many cases and you maybe surprised with the result you get from the student community. Problems are nothing but a prospect for exhibiting creativity and sometimes it does not depend on how experienced you are but what perspective you view the problem.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 


	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/collabrative-research.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Collaborative Research</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Every day the world grows a little more advanced in technology and the major reason for this is the research conducted by various research scholars. Research enables us to establish facts and reach new conclusions and with the help of the alumni, we can develop innovative technologies for the future.</p>
	                  </div>
	                  <!-- <a href="#" class="btn btn-small">Read More</a>  -->
	               </aside>
	            </article>
	         </div> 



	         </div>


	         </div>
	         </div>
	         </div>
	         </div>

	         {%endblock body%}
