
	     {% extends "frame.html" %}

	     {% block title %} Honor Graduates {% endblock title %}

	      {% block body %}



	         <div id = "page-content">
	   <div class="container">
	<div class="row">
	<div class="col-md-8">
	   
	<h1>Honorary Graduates</h1>
	<p>
	   
	   The Honorary Degree is one of higher education's most significant accolades and the University of Aberdeen awards them twice a year to individuals who have made a significant contribution in their field. The Honorary Degree is not only to acknowledge and celebrate the individuals' success but also to provide our current students with inspirational role models. A list of all of our honorary graduates is available to view on the main University of Aberdeen website.
	</p>

	</div>
	<div class="col-md-4">
	<figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/blog-01.jpg"></div>
	               </figure>

	</div>

	</div>
	</div>
	</div>

	{%endblock body%}
