

        {% extends "frame.html" %}

        {% block title %} Meet the Team {% endblock title %}

         {% block body %}
         
  <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Meet the team</h1>
         <p>The Alumni Relations team is a small but perfectly formed group, dedicated to keeping links between you and Karunya University alive. From the day that you graduate, we bring you news, events, benefits and services as well as help you to stay in touch with the University and each other.  
         </p>
         <!-- <p>You can contact us directly or via the alumni email address <a href="mailto:alumni@karunya.edu">alumni@karunya.edu</a> or contact number <b><a href="tel:+919487846607">+91 9487 846 607</a></b></p> -->
         <h2>What do we do?</h2>
         <p>Well in general we connect. In order for us to connect, we have a number of departments under which we categorize ourselves. These groups include the content, media, event management, internal relations, human resources, public relations and web development teams. Each department has an important role to play.</p>

            <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/web-design.png"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Web Development</h3>
                    </header>
                    <div class="description">
                       <p>The Web Development team has perfectly trained developers who can make sure all your web needs are met. We make sure these projects are having industrial standards and use the latest and most suitable frameworks. <!-- They are involed in development and maintainence of various web projects --></p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 

           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/event.jpg"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Event Management</h3>
                       
                    </header>
                    <div class="description">
                       <p>The event management team takes care of every minor detail for an event, which includes pre planning, decoration, seating arrangements, food and a lot more.</p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 

           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/public-relation.jpg"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Public Relations </h3>
                       
                    </header>
                    <div class="description">
                       <p>The Public Relations team does what any other PR does. They build mutually beneficial relationships without which our organisation would cease to exist.</p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 

           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/internal-relation.jpg"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Internal Relations</h3>
                       
                    </header>
                    <div class="description">
                       <p>The internal relations keep the departments posted with events from the alumni cell and vice versa and coordinates mutual events.</p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 

           
        
           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/human-resource.png"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Human Resources</h3>
                       
                    </header>
                    <div class="description">
                       <p>The human resource department keeps the team running with weekly analysis of the team’s performance and brings in new recruits to the team.</p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 

            <div class="col-md-4 col-sm-6" style="min-height: 388px;">
              <article class="blog-listing-post">
                 <figure class="blog-thumbnail">
                   
                    <div class="image-wrapper"><img src="static/assets/img/contant-media.png"></div>
                 </figure>
                 <aside>
                    <header>
                       
                          <h3>Content & Media </h3>
                       
                    </header>
                    <div class="description">
                       <p> The Content Team for example works on letters, emails, reports and articles such as the one you are reading right now. Of course, without the help of the media team everything you see would be just black and white. The media team brings life to whatever we want to publish, and from designing brochures and pamphlets to making promotional videos and advertisements, they get everything done.</p>
                    </div>
                    <!-- <a href="#" class="btn btn-small">Read More</a>  -->
                 </aside>
              </article>
           </div> 
         
      </div>
      </div>
    </div>
  </div>



          {%endblock body%}