{% extends "frame.html" %}

{% block title %} Reunions {% endblock title %}

{% block body %}



<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h1>Reunions</h1>
				<section id="course-tabs">

					<ul class="nav nav-tabs course-detail-tabs">
						<li class="active"><a href="#tab-a" data-toggle="tab">Reunions</a></li>
					   <li><a href="#tab-d" data-toggle="tab">Past Reunions</a></li>
					</ul>
					<div class="tab-content course-tab-content">
					<div class="tab-pane fade in active" id="tab-a">
					<section><strong>


			<p><img class="photo" style="float:right;" src="static/assets/img/reunion.jpg" width="400" height="200">Reunions are a great way to meet up with old friends, to reminisce about your days at the University of Karunya or to develop useful networks with fellow alumni.
			</p>
			<p>

				A reunion can be based around class anniversaries, club and society memberships, room mates from halls or just a specially selected group of friends.</p>
				<p>
					Organising a reunion can also be a very fun and useful experience for you. If you wish to organise a reunion, we can assist you with the planning and offer you a number of services, including the following:
				</p>
				<p>
					Sending invitations out on your behalf
					Advertise the reunion on our website, in the Voice magazine and in the bi-monthly e-zine Voice:E
					Suggest appropriate venues in and around Karunya
					Provide guests/speakers for your reunion
					Provide connections to entertainment and event services (provided by students, e.g. AUSA Photography Society, Chaper Choir, etc.)
					Display pictures and an accompanying story in Voice:E and on the website
					<p>
						Find out if your reunion is taking place soon in Events and Reunions.</p>
					</strong></section>

				</div>

				<div class="tab-pane fade" id="tab-d"><strong>
					<h2>Tell us about it!</h2>
					<p>
<!-- 					<img class="photo" style="float:left; padding-right:20px" src="static/assets/img/blog-01.jpg" width="400" height="400">
 -->						Have you recently held a reunion? We would love to share your experience to inspire fellow alumni to organise their own reunions. Contact us if you have pictures and stories you would like to share.
					</p>
					<p>
						Here you can also find a full archive of past alumni reunions.
					</p><p>
					Some of our alumni have already shared their stories with us:
				</p>

				<h4>Dr Jenny and Murdoch Shirreffs, Class of 2011-15</h4>

				<p>"The Karunya University Medical Class of 1964 didn’t fully realise the implications of the new curriculum being introduced that year.</p>
				<p>
					Medical Reunion 1970Some 130 youthful souls began their studies as unwitting guinea pigs and proceeded to the joys of learning Anatomy inter alia in the following academic year.
				</p><p>
				Prior to this, medical students had several chances to pass this subject and re-sits were common; under the new regulations, it was one re-sit only and then you were out – and out they went in their droves! As a result only some 68 of the original class graduated in 1970, but these survivors spent a total of six years living in each other’s pockets as their studies progressed, and close bonds and life-long friendships were established during this time.
			</p><p>
			On graduation, the Class vowed to keep in touch and, as we were to be based in Karunya, we volunteered to facilitate this for as long as possible. Forty years later, we are still in touch with virtually all the surviving Class members and organise regular Reunions to which at least two thirds of the Class come every time."
		</p>

	</strong></div>
</div>
</section>


</div>
</div>
</div>
</div>

{%endblock body%}
