
        {% extends "frame.html" %}

        {% block title %} Stay In Touch {% endblock title %}

         {% block body %}

         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Stay in touch</h1>
         
         <p>Stay connected with our team through the following links:</p>
         <div>
            <p>Almaconnect: <a href="https://karunyauniversity.almaconnect.com/contributions/sneak_peek" target="_blank">https://karunyauniversity.almaconnect.com/contributions/sneak_peek</a></p>
            <p>Facebook: <a href="https://www.facebook.com/search/top/?q=karunya%20alumni%20association" target="_blank">https://www.facebook.com/search/top/?q=karunya%20alumni%20association</a></p>
            <p>For personal correspondence and addressing of queries: </p>
            <p>Mr. Sujit Rajan</p>
            <p>Alumni Coordinator, SARC</p>
            <p><a href="tel:+919487846607">+91 9487 846 607</a></p>
            <p>Email : <a href="emailto:sujit.rajan@karunya.edu">sujit.rajan@karunya.edu</a></p>
         </div>
         
        
      </div>
      </div></div></div>



        
        {%endblock body%}