
	     {% extends "frame.html" %}

	     {% block title %} Testimonies {% endblock title %}

	      {% block body %}

	   <div id="page-content">
	   <div class="container">
	      <div class="row">
	     
	         <div class="col-md-12">
	 <h1> Testimonies</h1>
	            
	            
	            <br>
	            <section id="course-tabs">
	<!--    <ul class="nav nav-tabs course-detail-tabs">
	      <li class="active"><a href="#tab-a" data-toggle="tab">Alumni</a></li>
	      <li class=""><a href="#tab-b" data-toggle="tab">Academia</a></li>
	      <li class=""><a href="#tab-c" data-toggle="tab">Arts, films and Media</a></li>
	      <li class=""><a href="#tab-d" data-toggle="tab">Business</a></li>
	      <li class=""><a href="#tab-e" data-toggle="tab">Law</a></li>
	      <li class=""><a href="#tab-f" data-toggle="tab">Politics</a></li>
	      <li class=""><a href="#tab-g" data-toggle="tab">Science and Medical Research</a></li>
	   </ul> -->
	 
	         <section>
	               
	               Many of our alumni have gone on to make major contributions to science, the arts, medical research, business, politics and much more. Below you will find just some of our alumni's testimonies.
	            <p>&nbsp;</p>
	            


	            <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                  <div class="image-wrapper"> <img src="static/assets/img/alumni/alumni1.jpg" style="height: 400px;"></div>
	               </figure >
	               <aside>
	                  <header>
	                        <h3>SAM RUFUS</h3>
	                  </header>
	                  <div class="description">
	                     <p>CEO , GluePlus Innotech India Pvt. Ltd. <br>
							Hyderabad, India <br><br>
							DEPT    B.Tech (Mech) <br>
							BATCH 1993-1997  <br><br>

							Karunya gave me opportunities to harnessthe Leadership potential within me.At a strategic level, what I’m really saying is that the “Soft Skills”, the “Behavioral skills” and the “Can do” winner-attitude that I picked up at Karunya have helped me succeed in my Corporate Career!  
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni2.jpg" style="height:200px;" ></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Paul Jeyasingh</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>ASSOCIATE PARTNER,IBM USA<br>
							Hyderabad, India <br><br>
							DEPT    B.Tech (Mech)<br>
							BATCH 1989-1993 <br><br>

							The beautiful campus, daily morning worship, the hostel prayer cell groups, the amazing staff and students makes a deep, lasting impact on the lives of all the students.I have seen my friend from Karunya truly “Rise & Shine” all over the world.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni3.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Daniel Jacob</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>General Manger- HR, EC Group<br>
							Chennai, India <br><br>
							DEPT MBA<br>
							BATCH 2003-2005 <br><br>

							Karunya has friendly, approachable professors who helped me learn every day and grow as a professional.I was growing strong day by day in the Lord and got various opportunities to participate in different spiritual activities which molded me to be a better person.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height:8px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni4.jpg"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Joshua Madan</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>CEO- Covenant Group, <br>
							Chennai, India<br>
							DEPT B.Tech (ECE)<br>
							BATCH 1994-1998<br>
							I can say that my four years in Karunya changed my life for better.When I joined Karunya, I was not a good speaker but now I speak to the top officials of MNCs, conduct personal interviews.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;" >
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni5.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Newin Durai</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Associate Vice president Infosys<br>
							Chennai, India<br><br>

							In Karunya I profited from a  great experience. Really miss the wonderful times.. The lessons learnt has kept me in a good position.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni6.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Malarkodi R</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>ASSISTANT COMMISSIONER,INDIAN REVENUE SERVICES<br>
							DEPT     B.TECh,MTECH(ECE)<br>
							BATCH  2004-2008,2008-2010<br><br>

							It is really amazing to see the changes that has been brought in Karunya. I am really proud to see the developments in terms of research and infrastructures. It’s a good time to cherish all the past memories.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni7.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Alvin Abraham</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>CAPTAIN,INDIAN ARMY<br>
							DEPT :    B.TECh(MECH)<br>
							BATCH  2009-2013<br><br>

							Its always a blessed feeling to come back to Karunya All that I have achieved today is a blessing and is all because of Karunya.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni8.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Isaac Asirvatham</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Sr. Sales Specialist, SOFTCELL TECHNOLOGIES Ltd.<br>
							 Bangalore, India<br>
							DEPT:   MBA<br>
							BATCH 2004-2006<br>

							Karunya is very close to my heart . It was a blessing from God to study in Karunya. Thanks tKarunya for changing my life.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>

	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni9.jpg" style="height: 170px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Ahalya Kumar</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Employed in President Estate(Rashtrapati Bhawan), NDTV,<br>
							 New Delhi, India<br><br>
							DEPT     B.TECh(EMT)<br>
							BATCH  2008-2012<br><br>

							The environment in karunya is Serene and mind boggling.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>


	         <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni10.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Sudha Jeyavelu</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Senior associate, Genpact<br>
							 Bangalore, India<br><br>
							DEPT:    Biotechnology<br>
							BATCH 2008-2012<br><br>

							I found  wonderful Friends in Karunya ,and the  environment was mind boggling .
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	          <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumn11.jpg" style="height: 200px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Zechariah Abel</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Test Analyst , CSS Corp<br>
							 Chennai, India<br>
							DEPT:    MCA<br>
							BATCH 2007-2010<br>	

							Life is filled with lot of journeys.... sometimes we forget the journeys  that are very boring ..... but till the end of our life we carry some the most memorable journeys one’s.. the best journey in my life started in Karunya...
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	          <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni12.jpg" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Jimmy Thomas</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Mechanical Engineer,WARTSILA<br>
							  Hail, Saudi Arabia<br><br>
							DEPT: Mechanical<br>
							BATCH 2008-2012<br><br>
							Hostel Life, Christmas Mega play, Mindkraft, late night recording sessions.....friends. It was a great journey indeed in Karunya.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	              <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni13.jpg" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Alice Agnes</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Clinical Research Coordinator, Meenakshi Mission Hospital and Research Centre, Madurai.<br>
							 Madurai, India<br><br>
							DEPT  :   Bioinformatics<br>
							BATCH 2008-2012<br>

							I’m so blessed to be a part of Karunya family. Missing Karunya a lot.... Thank you so much...
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	              <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni14.jpg" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Nancy Pandian</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Sr. Sales Analyst ,Bimbo Bakeries USA <br>
							 Bentonville, USA<br>
							DEPT:    Biotechnology<br>
							BATCH     :   1998-2002  <br>
Karunya gave me the spiritual foundation which without a doubt has helped me overcome all life's challenges. Karunya sowed the seed that if God is With you , no one can be against you .
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	              <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni15.jpg" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Arun Jothilingam</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Subsea E\I engineer ,Odfjell drilling, based in  Korea and Houston<br>
							 Chennai, India<br>
							DEPT:    ECE<br>
							BATCH 1997-2003<br>
I have lot of wonderful memories of Karunya, I used to captain the basket ball team in the year 2001, was also part of the athletics team which set the record in 2001. I continued my studies and completed my M.E there and even worked as part time lecturer for 3 months, so I have wonderful memories of the college and hostel life.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni16.jpg" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Sherwin Thomas</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p>Project Engineer for Electro components Plc<br>
							 Corby, UK<br><br>
							DEPT:    PROD.<br>
							BATCH 2003-2007<br><br>
It has been ever so brilliant, my first venture away from home! Great experiences meeting new people and made life long friends. The Cultural exchange was vital,and I was an ardent Tamil movie fan!!!Karunya  set the foundation for an international exposure.
						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>
	           <div class="col-md-4 col-sm-6" style="min-height: 388px;">
	           
	            <article class="blog-listing-post">
	               <figure class="blog-thumbnail">
	                 
	                  <div class="image-wrapper"><img src="static/assets/img/alumni/alumni17.png" style="height: 160px;"></div>
	               </figure>
	               <aside>
	                  <header>
	                     
	                        <h3>Vinuthuna Reddy</h3>
	                     
	                  </header>
	                  <div class="description">
	                     <p> Working for Infosys.<br>
							 Hyderabad, India<br><br>
							DEPT:    CSE<br>
							BATCH   2010-2014<br><br>

Karunya is the place where my dreams came true.I did everything that I had planned for.It taught me what life is about.. It was a very good experience. I  learnt many things and the friends I made in Karunya are for life .						</p>
	                  </div>
	               </aside>
	            </article>
	         </div>


	         </section>
	    
	      
	


	            





	         

	 
	         </div>

	      </div>
	      </div>
	      </div>



	        {% endblock body%}