

        {% extends "frame.html" %}

        {% block title %} Voice Magazine {% endblock title %}

         {% block body %}
         
         <div id="page-content">
   <div class="container">
      <div class="row">
      <div class="col-md-12">
         <h1>Voice Magazine</h1>
         <p>Voice presents you with conversation and news from the University including updates on key initiatives and campus developments, as well as alumni profiles and information for potential donors and supporters of the University. It is produced annually for our Alumni and friends in the Spring/Summer.</p>
         <p>To read the latest and archived copies of Voice, please use the links below.To read the latest and archived copies of Voice, please use the links below.</p>

         <p>Spring/Summer 2016</p>
         
         
         
        
      </div>
      </div></div></div>



          {%endblock body%}